<html xmlns="http://www.w3.org/1999/xhtml"
    lang="ja" xml:lang="ja">
<head profile="http://suika.fam.cx/~wakaba/-temp/wiki/wiki?WikiHTMLMetaProfile">
  <title>SSH $B$G@>1;;*$K@\B3$9$k(B $B!=!=(B PuTTYgen $B$K$h$kHkL)80$N@8@.(B</title>
  <link rev="made" href="mailto:admin@suika.fam.cx" />
  <meta name="author" content="$B@>1;7W2h4IM}It(B" />
  <link rel="copyright" href="/c/pd" />
  <link rel="stylesheet" href="/admin/style/common" media="all" />
  <link rel="stylesheet" href="/www/style/ui/toc-after-abstract" media="all" />
</head>
<body>
<h1><span lang="en" xml:lang="en">PuTTYgen</span> $B$K$h$kHkL)80$N@8@.(B</h1>

<div class="section" id="ABSTRACT">
<h2>$B35MW(B</h2>

<p>$B$3$NJ8=q$O!"(B <abbr lang="en" xml:lang="en"
title="Secure Shell">SSH</abbr>
$B$r;H$C$F@>1;;*$K@\B3$9$k$?$a$K!"(B <span lang="en" xml:lang="en">PuTTYgen</span>
$B$H$$$&%=%U%H%&%'%"$r;H$C$FHkL)80$r@8@.$9$kJ}K!$r@bL@$7$^$9!#(B</p>
</div><!-- ABSTRACT -->

<div class="section" id="HOWTO">
<h2>$BHkL)80$N@8@.(B</h2>

<ol>
<li><a href="puttygen-bin"><code class="file"
lang="en" xml:lang="en">puttygen-bin</code></a>
$B$NCf$KF~$C$F$$$k%U%!%$%k$rE,Ev$J>l=j$KJ#@=$7!"(B 
<code class="file" lang="en" xml:lang="en"
>puttygen.exe</code> $B$r<B9T$7$^$9!#(B</li>
<li><q>$B@8@.(B</q>$B%\%?%s$r2!$7$^$9!#(B
  <div class="fig">
    <div class="fig-body">
      <img src="putty-generated-shot" alt="" />
    </div>
    <div class="caption">
      $BHkL)80@8@.2hLL(B (<q>$B@8@.(B</q>$B$7$?7k2L(B)
    </div>
  </div>
</li>
<li><q>$B%Q%9%U%l!<%:(B</q> ($B9g8@MU(B) $B$r(B2$B2U=j$K(B ($BF1$8$b$N$r(B) $BF~NO$7$^$9!#(B
  <div class="note memo">
    <p>$B9g8@MU$O<+J,$,3P$($d$9$/!"B>?M$KJ,$+$j$d$9$$!"(B
    $B$[$I$[$I$ND9$5$N$b$N$G7h$a$F$/$@$5$$!#9g8@MU$rB>?M$K65$($F$O$$$1$^$;$s!#(B</p>
  </div>
</li>
<li>
<q>$BHkL)80$NJ]B8(B</q>$B%\%?%s$r2!$7$F!"(B
$BHkL)80$rE,Ev$JL>A0$GE,Ev$J>l=j$KJ]B8$7$F$/$@$5$$!#(B
  <div class="note memo">
    <p>$BHkL)80$O=EMW$J%U%!%$%k$G$9$+$i!"(B
    $BB>?M$,=|$$$?$jJ#<L$7$?$j$G$-$J$$$H$3$m$K87=E$KJ]B8$7$F$/$@$5$$!#(B
    $BHkL)80$rJ6<:$7$?$j!"8m$C$FB>?M$N<j$KEO$C$F$7$^$C$?$j$7$?;~$O!"(B
    $B$9$0$K(B<a href="mailto:admin@suika.fam.cx">$B4IM}<T(B</a>$B$K$4O"Mm2<$5$$!#(B</p>
  </div>
</li>
<li>$B2hLL>eIt$N(B<q>$B%U%!%$%k$K%Z!<%9%H$9$k$?$a$N8x3+80(B</q
>$B$NMs$K$"$kJ8;zNs$r$9$Y$FEE;R%a%$%k$G4IM}<T(B
<code class="mail">&lt;<a href="mailto:admin@suika.fam.cx"
>admin@suika.fam.cx</a>&gt;</code> $B$KAw$C$F$/$@$5$$!#(B
($B1&%/%j%C%/$7$F!"%a%K%e!<$+$i(B<q>$B$9$Y$FA*Br(B</q>$B$7!"(B
$B:FEY1&%/%j%C%/$7$F$+$i(B<q>$B%3%T!<(B</q>$B$7$F!"(B
$BEE;R%a%$%k$N:n@.2hLL$K(B<q>$BE=$jIU$1(B</q>$B$9$k$HNI$$$G$9!#(B)</li>
</ol>

</div><!-- HOWTO -->

<div class="footer">
<div class="navigation">
[<a href="/">/</a> <a href="/search/" rel="search">$B8!:w(B</a>]
[<a href="/admin/">$B4IM}It(B</a> <a href="/admin/ssh/" rel="up" lang="en"
xml:lang="en">SSH</a>]
</div>
<div class="update" lang="en" xml:lang="en">$Date: 2005/08/22 10:43:56 $</div>
</div>
</body>
</html>
