<html xmlns="http://www.w3.org/1999/xhtml"
    lang="ja" xml:lang="ja">
<head profile="http://suika.fam.cx/~wakaba/-temp/wiki/wiki?WikiHTMLMetaProfile">
  <title>SCP $B$G@>1;;*$K@\B3$9$k(B $B!=!=(B WinSCP $B$N@_Dj(B</title>
  <link rev="made" href="mailto:admin@suika.fam.cx" />
  <meta name="author" content="$B@>1;7W2h4IM}It(B" />
  <link rel="copyright" href="/c/pd" />
  <link rel="stylesheet" href="/admin/style/common" media="all" />
  <link rel="stylesheet" href="/www/style/ui/toc-after-abstract" media="all" />
</head>
<body>
<h1><span lang="en" xml:lang="en">WinSCP</span> $B$N@_Dj(B</h1>

<div class="section" id="ABSTRACT">
<h2>$B35MW(B</h2>

<p>$B$3$NJ8=q$O!"(B <span lang="en" xml:lang="en">WinSCP</span>
$B$r;H$C$F@>1;;*$K@\B3$7!"%U%!%$%k$NAw<u?.$r9T$&J}K!$r@bL@$7$^$9!#(B</p>
</div><!-- ABSTRACT -->

<div class="section" id="INSTALL">
<h2><span lang="en" xml:lang="en">WinSCP</span> $B$NF3F~(B</h2>

<p>$B=i$a$F(B <span lang="en" xml:lang="en">WinSCP</span>
$B$r;H$&>l9g$O<!$N<j=g$K=>$C$F(B <span lang="en" xml:lang="en">WinSCP</span>
$B$rMQ0U$7$F$/$@$5$$!#(B</p>

<ol>
<li><span class="caption"><span lang="en" xml:lang="en">WinSCP</span> 
$B$NF~<j(B</span>$B!#(B<cite lang="en" xml:lang="en"><a 
href="http://winscp.net/eng/download.php#download2"
>WinSCP File Downloads</a></cite> $B$+$i(B
<q lang="en" xml:lang="en">Multilanguage installation package</q>
$B$rF~<j(B ($BE,Ev$J>l=j$KJ]B8(B) $B$7!"<B9T$7$F$/$@$5$$!#(B

  <div class="note memo">
    <p>$B$3$3$GF~<j$7$?<B9T%U%!%$%k$O!":n6H$,40N;$7$?8e:o=|$7$F9=$$$^$;$s!#(B</p>
  </div>
</li>
<li><span class="caption"><span lang="en" xml:lang="en">WinSCP</span>
$B$NF3F~(B</span>$B!#(B
$B<B9T$9$k$H8@8l(B (<span lang="en" xml:lang="en">language</span>)
$B$rJ9$+$l$^$9$+$i!"F|K\8l(B (<span lang="en" xml:lang="en">Japanese</span>)
$B$rA*$s$G$/$@$5$$!#F|K\8l$,A*Br;h$K$J$$;~$O!"(B
<span lang="en" xml:lang="en">English</span> $B$rA*$s$G$/$@$5$$!#(B
$B$=$N8e$O;X<($K=>$C$F?J$a$F$/$@$5$$!#(B ($BDL>o$OFC$K;XDj$9$k$3$H$OL5$/!"(B
$B$=$N$^$^?J$a$l$P7k9=$G$9!#(B)
  <div class="note memo">
    <p>$B%$%s%9%H!<%k(B (<span lang="en" xml:lang="en">install</span>)
    $B$9$k>l=j$rESCf$G$?$:$M$i$l$^$9$+$i!"$I$3$K$7$?$+3P$($F$*$$$F$/$@$5$$!#(B</p>
  </div>
</li>
<li><span class="caption">$BF|K\8l2=(B</span>$B!#F|K\8l$,A*$Y$J$+$C$?>l9g$K$O!"(B
<cite lang="en" xml:lang="en"><a href="http://winscp.net/eng/translations.php"
>WinSCP Translations</a></cite> $B$+$i(B <q lang="en" xml:lang="en"
>Japanese</q> $B$H=q$+$l$?%U%!%$%k$rF~<j$7$F$/$@$5$$!#(B
$B$=$NCf$KF~$C$F$$$k%U%!%$%k$r!"@hDx%$%s%9%H!<%k(B
(<span lang="en" xml:lang="en">install</span>)
$B$7$?>l=j$KJ#@=$7$F$/$@$5$$!#(B
  <div class="note memo">
    <p>$BJ#@=$7$?$i%@%&%s%m!<%I$7$?%U%!%$%k$O:o=|$7$F9=$$$^$;$s!#(B</p>
  </div>
  <div class="note memo">
    <p>$BF|K\8l$,A*$Y$?>l9g$O$3$N:n6H$OITMW$G$9!#(B</p>
  </div>
</li>
</ol>

<p>$B$3$l$G%9%?!<%H!&%a%K%e!<$+$i(B <span lang="en" xml:lang="en">WinSCP</span>
$B$r5/F0$G$-$k$h$&$K$J$C$?$O$:$G$9!#(B</p>

<p>$BB3$$$F(B<q>$B%;%C%7%g%s(B</q
>$B$NDj5A$r9T$$$^$9!#(B <span class="weak"
>($B$3$l$b:G=i$N(B1$B2s$@$1$G9=$$$^$;$s!#(B)</span></p>

<ol start="4">
<li><span class="caption">$B%;%C%7%g%s>pJs$NF~NO(B</span>$B!#(B
<span lang="en" xml:lang="en">WinSCP</span> $B$r5/F0$9$k$H!"(B
$B%m%0%$%s$N2hLL$,I=<($5$l$^$9!#$3$3$G!"(B<q>$B%[%9%HL>(B</q
>$B$K(B<kbd>suika.fam.cx</kbd>$B!"(B<q>$B%f!<%6L>(B</q>$B$K@>1;;*$N%"%+%&%s%H(B
($BEE;R%a%$%k!&%"%I%l%9$N(B <code>@</code> $B$h$jA0$NItJ,(B)$B!"(B
<q>$BHkL)80(B</q>$B$K;HMQ$9$kHkL)80$N%U%!%$%kL>(B <span class="weak">(<q>...</q>
$B%\%?%s$GA*$Y$^$9!#(B)</span> $B$rF~NO$7$F$/$@$5$$!#(B
  <div class="fig">
    <div class="fig-body">
      <img src="winscp-login-shot" alt="" />
      <div class="note memo">
        <p>$B$*;H$$$N(B <span lang="en" xml:lang="en">WinSCP</span>
        $B$NHG$K$h$C$F$O!"$3$3$G<($7$?2hLL$H9=@.$,0[$J$k$3$H$,$"$j$^$9!#(B</p>
      </div>
    </div>
    <div class="caption"><q>$B%;%C%7%g%s(B</q>$B$N@_Dj$N2hLL(B</div>
  </div>

  <div class="note memo">
    <p>$BHkL)80$r$^$@:n@.$7$F$$$J$$>l9g$O!"(B
    <cite><a href="puttygen"><span lang="en" xml:lang="en">PuTTYgen</span
    > $B$r;H$C$?HkL)80$N@8@.(B</a></cite>$B$r$*FI$_$/$@$5$$!#(B</p>
  </div>
</li>
<li id="SAVE-SESSION"><span class="caption">$BJ]B8(B</span>$B!#:G8e$K!"(B
<q>$BJ]B8(B</q>$B$H$$$&%\%?%s$r2!$7$F$/$@$5$$!#J]B8L>$rJ9$+$l$^$9$N$G!"(B
$BJ,$+$j$d$9$$L>A0$rIU$1$F$/$@$5$$(B ($BNc(B: <q>$B@>1;;*(B</q>)$B!#(B</li>
</ol>

</div><!-- INSTALL -->

<div class="section" id="BOOT">
<h2><span lang="en" xml:lang="en">WinSCP</span> $B$N5/F0(B</h2>

<ol>
<li>$B%9%?!<%H!&%a%K%e!<$+$i(B <span lang="en" xml:lang="en">WinSCP</span>
$B$rA*$s$G5/F0$7$^$9!#(B</li>
<li>$B%m%0%$%s2hLL$,I=<($5$l$?$i!"(B<q>$BJ]B8$7$?%;%C%7%g%s(B</q
>$B$H$7$F(B<a href="#SAVE-SESSION">$BA0$KJ]B8(B</a>$B$7$?L>A0$,I=<($5$l$F$$$k$O$:$G$9$+$i!"(B
$B$=$l$rA*$s$G(B<q>$B%m%0%$%s(B</q>$B$7$F$/$@$5$$!#(B</li>
<li><q>$B80$,EPO?$5$l$F$$$^$;$s(B</q>$B$H$$$&7Y9p(B ($B1Q8l$+$b$7$l$^$;$s(B)
$B$,I=<($5$l$k$3$H$,$"$j$^$9$,!"=i2s$N3NG'$N$?$a$G$9$+$i!"(B
<q>$B$O$$(B</q>$B$rA*$s$G$/$@$5$$!#(B</li>
</ol>

<p>$B$3$l$G%U%!%$%k$NAw<u?.$N=`Hw$,@0$$$^$7$?!#(B</p>

<div class="note memo info">
<p><a href="http://winscp.net/eng/docs/lang:jp"
><span lang="en" xml:lang="en">WinSCP</span> $B$N>R2p(B ($BF|K\8l(B)</a></p>
</div>

</div><!-- BOOT -->

<div class="footer">
<div class="navigation">
[<a href="/">/</a> <a href="/search/" rel="search">$B8!:w(B</a>]
[<a href="/admin/">$B4IM}It(B</a> <a href="/admin/ssh/" rel="up" lang="en"
xml:lang="en">SSH</a>]
</div>
<div class="update" lang="en" xml:lang="en">$Date: 2005/08/22 10:48:15 $</div>
</div>
</body>
</html>
