<html lang="ja">
<head>
<title>CodeRed worm $B46@wLV$X$NBP:v$K$D$$$F(B</title>
<link rel="stylesheet" href="/s/simpledoc" />
<link rev="made" href="mailto:wakaba@suika.fam.cx" />
<link rev="copyright" href="/c/pd" />
<meta name="author" content="$B<cMU(B" />
<meta name="keywords" content="CodeRed, worm, IIS, Windows, Windoze, NT, 2000, hinet" />
<meta name="description" content="$BBgN.9TCf$N(B CodeRed worm $B$X$N@>1;7W2h$NBP1~$K$D$$$F$N$4@bL@!#(B" />
</head>
<body>
<h1><a href="."><img class="minilogo" src="../../../logo" alt="$B@>1;7W2h(B" /></a> CodeRed worm $B46@wLV$X$NBP:v$K$D$$$F(B</h1>

<p>CodeRed worm $B$O!"(B M$ $B<R$N(B IIS $B$J$I$r;HMQ$7$F$$$k(B Web $B%5!<%P!<5!$K46@w$7!"B>$N%5!<%P!<$r967b$9$k$J$I$9$k0-<A$J(B worm $B$G!"4v$D$+$N0!<o$d;w$?$h$&$JF0:n$r$9$k(B CodeRed II worm $B$,H/8+$5$l$F$$$^$9!#(B [<a href="http://www.reasoning.org/jp/security_alerts/hashsa-2001-02.html">$B>\:Y(B</a>]</p>

<p>$B$3$N(B worm $B$O@>1;%5!<%P!<$X$ND>@\E*$J1F6A$O$"$j$^$;$s$,!"(B<a href="/~wakaba/documents/web/iiswarm-200107">$BL5:9JL967b:/$,@h7n=*$o$j$h$jH/8+$5$l$F$*$j(B</a>$B!"8=:_$bB3$$$F$*$j$^$9!#$=$N(B<a href="/default.ida?log=1">$B@\?(?t$O>o;~!"4Q;!=PMh$^$9(B</a>$B!#(B</p>

<p>$B@>1;(B Web $B%5!<%P!<$K$*$-$^$7$F$O!"$3$N(B worm $B$N1F6A$,Hs>o$KBg$-$$$H9M$($i$l$k$3$H$+$i!"H/?.85(B Web $B%5!<%P!<$N4IM}<T$KEE;R%a%$%k$K$F<+F0DLJs$9$k5!9=$r@0$($^$7$?!#(B ($B$7$+$7(B3$B3dDxEY$O%(%i!<$GLa$C$FMh$^$9!#(B) The Internet $B$KL5BL$J%H%i%R%C%/$rCmF~$9$k$3$H$H$J$k7|G0$,$"$j$^$9$,!"8=;~E@$G$OLdBj$J$$$H;W$o$l$^$9!#(B ($B$3$N7Y9p%a%$%k$O@>1;%5!<%P!<$NEE;R%K%e!<%9$N=8CD(B <a href="news://suika.fam.cx/suika.test">suika.test</a> $B$K$b<+F0Ej9F$5$l$^$9!#(B)</p>

<p>$B$3$N$h$&$JBP:v$r9V$8$F$O$*$j$^$9$,!"(B ($BEv=i$NM=A[DL$j(B:-) $B967b?t$O2#$P$$!&!&$H;W$$$-$d!"AjJQ$o$i$:A}2C798~$K$"$j$^$9!#$=$N5-O?$r;2>H$7$^$9$H!"4v$D$+$NFCDj$N%I%a%$%s(B (ISP $B$H9M$($i$l$k!#(B) $B$+$i$NMW5a$,Hs>o$KB?$/$J$C$F$$$^$9!#(B</p>

<p>$B0lHV$N967b?t$r8X$k(B:-) $BBfOQ$N(B hinet.net $B$K$O!":rF|!"@>1;%5!<%P!<(B Web $B4IM}<TL>$K$*$$$F!"B?$/$N46@w<T$+$i$N@\?($,$"$k$3$H!"$=$NBP:v$rK>$`;]$r(B<a href="mid:200108091348.f79DmBm22847@suika.fam.cx">$BO"Mm$7$^$7$?(B</a>$B!#(B</p>

<p>$B$=$N%a%$%k$K$b5-$7$^$7$?$H$*$j!"?tF|MM;R$r8+$?8e!"2?$NO"Mm$b!">u67$NJQ2=$bL5$$>l9g!"(B hinet.net $B$+$i$N@>1;%5!<%P!<$X$N@\B3$r0l@Z5qH]$7!"B>$N%5!<%P!<$K$*$$$F$bF1MM$NBP:v$r9V$8$k$h$&8F$S$+$1$k$3$H$r8!F$$7$F$*$j$^$9!#(B</p>

<p>Hinet.net $B0J30$NB>$N46@w?t$,B?$/!"0l8~$K8:$k5$G[$N$J$$%M%C%H%o!<%/$K$D$-$^$7$F$b!"F1MM$NBP:v$r$H$kMQ0U$,$"$j$^$9$3$H$r!"$3$3$K$*CN$i$;$$$?$7$^$9!#(B</p>

<p>($B$o$+$P!#(B)</p>

<address>[<a href="/">/</a><a href=".">$B4IM}It(B</a>]</address>
<div class="update">2001-08-10</div>
</body></html>
