<?xml version="1.0" encoding="iso-2022-jp"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>suika.fam.cx CVS $B%j%]%8%H%jMxMQ$N<j0z$-(B</title>
<link rel="contents" href="../" />
<link rel="stylesheet" href="/admin/style/common" media="all" />
<link rev="made" href="mailto:cvs@suika.fam.cx" />
<link rel="copyright" href="/c/gnu/fdl" />
<meta name="keywords" content="CVS, $B%5!<%P!<(B, $B@>1;(B, SSH, pserver, $B<+M3%=%U%H%&%'%"(B, $B3+H/(B, $B4IM}(B, $B6&F1:n6H(B, $B<j0z$-(B, guide, manual" />
</head>
<body>
<h1>CVS $B%j%]%8%H%jMxMQ$N<j0z$-(B</h1>

<p>suika.fam.cx $B$N(B CVS $B%j%]%8%H%j$O<+M3%=%U%H%&%'%"$N3+H/$d(B
$B3F<oJ8=q$N4IM}$J$I$K8fMxMQD:$1$^$9!#(B</p>

<p>CVS $B$rD>@\MxMQ$9$k$K$O(B suika.fam.cx $B$N(B SSH account $B$,I,MW$G$9!#(B
(pserver $B$OMQ0U$7$F$$$^$;$s!#(B) $B1\Mw!&(Btarball $B$NF~<j$N$_$G$"$l$P!"(B
<a href="/gate/cvs/">Web gateway</a>
(<a href="http://viewcvs.sourceforge.net/">ViewCVS</a>)
$B$+$i2DG=$G$9!#(B</p>

<p>suika.fam.cx CVS $B$+$i(B <var xml:lang="en">module</var> $B$r<h$j=P$9$K$O!"(B
<kbd xml:lang="en">cvs -d :ext:<var>username</var>@suika.fam.cx:/home/cvs
<abbr title="checkout">co</abbr> <var>module</var></kbd> $B$H$7$F2<$5$$!#(B
(<var xml:lang="en">module</var> $B$NL>A0$,J,$+$i$J$$;~$O!"(B
<a href="/gate/cvs/">Web gateway</a> $B$GD4$Y$F$/$@$5$$!#(B)</p>

<p>ssh account $B$r$44uK>$NJ}$O!"(B RSA $B$^$?$O(B DSA $B$N8x3+80$rE:$($F!"(B
<code class="mail">&lt;<a href="mailto:cvs@suika.fam.cx">cvs@suika.fam.cx</a>&gt;</code>
$B$^$G$4O"Mm2<$5$$!#(B (CVS $BMQ$H$*=q$-E:$(2<$5$$!#(B)</p>

<p>$B%=%U%H%&%'%"$dJ8=q$J$I$N4IM}$K(B suika.fam.cx CVS repository
$B$rMxMQ$7$?$$>l9g$O!"$*<j?t$G$9$,$"$i$+$8$a(B 
<code class="mail">&lt;<a href="mailto:cvs@suika.fam.cx">cvs@suika.fam.cx</a>&gt;</code>
$B$^$G$4O"Mm2<$5$$!#(B ($B$=$N:]$K!"%i%$%;%s%9Ey$K$D$$$F$b(B
$B$*=q$-E:$(2<$5$$!#(B suika.fam.cx cvs repository $B$N@-3J!&8=>u(B
$B$NET9g$K$h$j!"FH@j%=%U%H%&%'%"$J$I$NLdBj$,$"$k%i%$%;%s%9BN7O$N(B
$B>l9g$O$*CG$j$9$k$3$H$,$"$j$^$9!#(B)</p>

<address>
[<a href="/" title="$B$3$N%5!<%P!<$N<sJG(B">/</a>
<a href="/map" title="$B$3$N%5!<%P!<$N0FFb(B">$BCO?^(B</a>
<a href="/search/" title="$B$3$N%5!<%P!<$N8!:w(B">$B8!:w(B</a>]
[<a href="../">$B@>1;%5!<%P!<4IM}It(B</a>]
</address>
<div class="update">2001-12-05, <a href="/gate/cvs/webroot/admin/cvs/guide.ja.html">$Date: 2003/09/15 03:53:52 $</a></div>
</body></html>
