<!DOCTYPE HTML>
<link rel=stylesheet href="/admin/style/common">
<link rel=license href="/c/pd" title="Public Domain.">
<link rel=author href="mailto:admin@suika.fam.cx" title=$B@>1;7W2h4IM}It(B>
<title>$B@>1;7W2h$H@>1;;*$K$D$$$F(B</title>

<h1>$B@>1;7W2h$H@>1;;*$K$D$$$F(B</h1>

<p>$B@>1;;*(B (<code>suika.fam.cx</code>) $B$O!"(B <a
href="/admin/web/">Web</a>$B!"(B<a href="/admin/cvs/">CVS</a>$B!"(B<a
href="/admin/mail/">$BEE;R%a%$%k(B</a>$BEy$N%5!<%S%9$rDs6!$9$k!"(B
$B%$%s%?!<%M%C%H$K@\B3$5$l$?(B<ruby>$B;*(B<rp> (</rp><rt>$B%5!<%P!<(B</rt><rp>) </rp></ruby>$B$G$9!#(B
$B@>1;;*$O(B<a href="/admin/">$B@>1;7W2h4IM}It(B</a>$B$K$h$C$F4IM}$5$l$F$$$^$9!#(B

<p>$B@>1;;*$O(B2000$BG/=):"!"(B
$B%$%s%?!<%M%C%H$K@\B3$5$l$?;*4D6-$rM-;V$K$h$j6&F1$G4IM}!&MxMQ$9$k$?$a$K7W2h$5$l$^$7$?!#(B
$BEv;~$N@>1;7W2h=`Hw=8CD$O!"(B2001$BG/$N@>1;;*$N@_CV$HF1;~$K@>1;7W2h4IM}It$K2~AH$5$l!"(B
$B0z$-B3$-@>1;;*$N4IM}$r9T$C$F$-$^$7$?!#(B
$B0J8e@>1;;*$O(B2003$BG/$H(B2009$BG/$N(B2$BEY$N;*0\E>$r7P$F8=:_$K;j$C$F$$$^$9!#(B

<section id=contact>
<h2>$B$*Ld$$9g$o$;(B</h2>

<p>$B@>1;7W2h$H@>1;;*$K4X$9$k$*Ld$$9g$o$;$O(B<a href="/admin/#contact">$B@>1;7W2h4IM}It$^$G(B</a>$B$*4j$$$7$^$9!#(B</p>
</section>