<?xml version="1.0" encoding="ISO-2022-JP"?>
<?xml-stylesheet href="/www/style/html/xhtml" media="all"?>
<!DOCTYPE html [
  <!ATTLIST section xml:id ID #IMPLIED>
  <!ATTLIST di xml:id ID #IMPLIED>
]>
<html xmlns="http://www.w3.org/2002/06/xhtml2/"
      xml:lang="ja"
      xmlns:h3="urn:x-suika-fam-cx:markup:ietf:html:3:draft:00:"
      xmlns:h5="http://www.w3.org/1999/xhtml">
<head>
<title>Suika $B;*1?MQ%a%b(B ($B0lHL(B)</title>
<link rel="contents" href="./" title="$B@>1;7W2h4IM}It(B"/>
<link rev="made" href="mailto:admin@suika.fam.cx"/>
</head>
<body>
<h>Suika $B;*1?MQ%a%b(B</h>

<p>$BHwK:O?$G$9!#(B</p>

<section xml:id="OTHERS">
<h>$BItLgJLHwK:O?(B</h>

<ul>
<li href="web/memo">Suika Web $B;*1?MQ%a%b(B</li>
</ul>
</section>

<section xml:id="REBOOT">
<h>$B:F5/F0;~$NCm0UE@(B</h>

<ul>
<label>$B<jF0$G5/F0$9$k$b$N(B</label>
<li><span class="caption"><abbr xml:lang="en">INN</abbr></span>$B!#(B
<code xml:lang="en">news</code> $B$G(B 
<kbd xml:lang="en">/usr/local/news/bin/rc.news</kbd>$B!#(B</li>
<li edit="deleted"><span class="caption"
href="http://akadama.jp/akadav.html">akaDAV</span>$B!#(B
<code xml:lang="en">root</code> $B$G(B
<kbd xml:lang="en">/etc/rc.d/init.d/akadav start</kbd>$B!#(B</li>
</ul>

</section>

<section xml:id="APT-GET">
<h>$B%=%U%H%&%'%"$N99?7$NCm0UE@(B</h>

<dl>
<di xml:id="APT-GET-APACHE"><dt xml:lang="en">Apache</dt>
	<dd><cite href="web/memo#APACHE">Web $B;*4IM}%a%b(B</cite>$B$r;2>H!#(B</dd></di>
<di xml:id="CYRUS-SASL"><dt xml:lang="en" href="http://cyrusimap.web.cmu.edu/downloads.html#sasl"
    >Cyrus SASL Library</dt>
	<dd><ol>
		<li><kbd xml:lang="en">./configure</kbd></li>
		<li><kbd xml:lang="en">make</kbd></li>
		<li><kbd xml:lang="en">make install</kbd></li>
	</ol></dd></di>
<di xml:id="APT-GET-PERL"><dt xml:lang="en">Perl</dt>
	<dd>$BDL>o;H$&$b$N$O!"%=!<%9$+$i%3%s%Q%$%k$9$k!#(B</dd>
	<dd><h5:div class="caption"><kbd xml:lang="en">apt-get</kbd> 
	$B$G99?7$7$?8e(B</h5:div>

	<p>$B99?78e!"(B <code class="file" xml:lang="en">/usr/bin/perl</code>
	$B$r:o=|$7!"(B <code class="file" xml:lang="en">/usr/local/bin/perl5.8.<var>x</var></code>
	($B:G?7HG(B) $B$X$N(B <span xml:lang="en">symbolic link</span>
	$B$KCV49$($k!#(B</p>

	<h3:note xmlns:h3="urn:x-suika-fam-cx:markup:ietf:html:3:draft:00:">
		<p><kbd xml:lang="en">apt-get</kbd> $B$GF~$k(B 
		<span xml:lang="en">Vine</span> 2 $B$N(B 
		<span xml:lang="en">Perl</span> $B$O(B 5.6 $B7O!#(B
		$B0MB84X78$J$I$,LLE]$K$J$i$J$$$h$&$KF~$l$F$*$/$,!"(B
		$BIaCJ$O0BDjHG$r=&$C$F$-$F;H$&!#(B</p>
	</h3:note></dd></di>
<di xml:id="POSTFIX"><dt xml:lang="en">Postfix</dt>
	<dd>
		<ol>
		<li><a href="#CYRUS-SASL" xml:lang="en">Cyrus SASL Library</a>
		$B$rF~$l$k(B</li>
		<li><kbd xml:lang="en">make tidy</kbd></li>
		<li><kbd xml:lang="en">make -f Makefile.init makefiles CCARGS="-DUSE_TLS -DUSE_SASL_AUTH<!-- -DDEF_SERVER_SASL_TYPE=\"dovecot\"--> -DUSE_CYRUS_SASL -I/usr/local/include/sasl" AUXLIBS="-lssl -lcrypto -lsasl2"</kbd></li>
		<li><kbd xml:lang="en">make</kbd></li>
		<li><kbd xml:lang="en">make upgrade</kbd></li>
		<li><kbd xml:lang="en">perl <var>suika-config-master</var>/conf/conf/postfix/create-sasl_passwd.pl</kbd></li>
		</ol>
		
		<h3:note xmlns:h3="urn:x-suika-fam-cx:markup:ietf:html:3:draft:00:">
		<p><code xml:lang="en" class="file">README_FILES/TLS_README</code>,
		<code xml:lang="en" class="file">README_FILES/SASL_README</code>
		$B$r;2>H!#(B</p>
		</h3:note>
	</dd></di>
<di xml:id="APT-GET-PYTHON"><dt xml:lang="en">Python</dt>
	<dd>$BDL>o;H$&$b$N$O!"%=!<%9$+$i%3%s%Q%$%k$9$k!#(B</dd>
	<dd><h5:div class="caption"><kbd xml:lang="en">apt-get</kbd> 
	$B$G99?7$7$?8e(B</h5:div>

	<p>$B99?78e!"(B <code class="file" xml:lang="en">/usr/bin/python</code>
        $B$r:o=|$7!"(B <code class="file" xml:lang="en">/usr/local/bin/python</code>
        ($B:G?7HG(B) $B$X$N(B <span xml:lang="en">symbolic link</span>
        $B$KCV49$($k!#(B</p>

	<h3:note xmlns:h3="urn:x-suika-fam-cx:markup:ietf:html:3:draft:00:">
                <p><kbd xml:lang="en">apt-get</kbd> $B$GF~$k(B
                <span xml:lang="en">Vine</span> 2 $B$N(B
                <span xml:lang="en">Python</span> 
		$B$O(B 1.6 $B7O!#(B</p>
        </h3:note></dd></di>
</dl>
</section>

<section xml:id="HOWTO-BACKUP">
<h>$BDj4|(B<span xml:lang="en">$B%P%C%/%"%C%W(B</span>$B$N<j=g(B</h>

<ol>
<li><kbd xml:lang="en">cd /home/cvs; make decompress backup; make compress</kbd>
$B$7$F!"$G$-$?(B <abbr xml:lang="en">tar</abbr> $B6L$rJ]4I!#(B
	<h3:note>
	<p>$B$?$^$K$O(B <kbd xml:lang="en">--update</kbd>
	$B$r;H$o$:$K:n$jD>$9$3$H!#(B</p>
	</h3:note></li>
<li><code xml:lang="ja">wakaba</code> $B$G(B
<kbd xml:lang="en">cd ~/pub; make all</kbd> 
$B$7$F!"$G$-$?(B <abbr xml:lang="en">tar</abbr> $B6L$rJ]4I!#(B</li>
<li><code xml:lang="ja">wakaba</code> $B$G(B
<kbd xml:lang="en">cd ~/private; make all</kbd>
$B$7$F!"$G$-$?(B <abbr xml:lang="en">tar</abbr> $B6L$rJ]4I!#(B</li>
<li>$BB>$K$b$"$k!#(B</li>
</ol>
</section>

<section xml:id="BACKUP">
<h>$B4D6-0\9T;~$KFC$KCm0U$9$k$Y$-%U%!%$%k(B</h>

<ul>
<li>
	<ul>
	<label>$B%G!<%?7O(B</label>
	<li><code class="file" xml:lang="en">/home/httpd/html/</code>
		(<abbr xml:lang="en">CVS</abbr> $B$h$j(B
		(<cite href="web/memo#APACHE">Web $B;*4IM}%a%b(B</cite>$B$r;2>H(B)$B!#(B
		$B0lIt(B <code xml:lang="en">make</code> $BI,MW!#(B)</li>
	<li><code class="file" xml:lang="en">/home/<var>user</var>/</code>
		($BFC$K(B <code class="file" xml:lang="en">/home/<var>user</var>/.ssh/</code>
		$B$KCm0U!#(B)</li>
	<li><code class="file" xml:lang="en">/home/cvs/</code>
		(<span xml:lang="en">Backup</span> $BMQ(B 
		<code class="file" xml:lang="en">Makefile</code>
		$B$"$j!#(B <code class="file" xml:lang="en">Makefile</code>
		$B<+BN$NJ]B8$K$bCm0U!#(B)</li>
	<li><code class="file" xml:lang="en">/var/spool/mail/</code></li>
	<li><code class="file" xml:lang="en">/var/spool/news/articles/</code></li>
	<li><code class="file" xml:lang="en">/var/namazu/index/</code>
		($B:w0z$O4JC1$K:F@8@.2DG=$J$N$G!"$"$^$j=EMW$G$O$J$$!#(B
		$B4D6-0\9T;~$O:w0zMQ%G%#%l%/%H%j$NMQ0U$rK:$l$J$$$h$&$K!#(B)</li>
	<li>$B4D6-0\9T;~$O!"%m%0%$%s8"8B$N$J$$MxMQ<T$N(B
	<span xml:lang="en">home directory</span> $B$O0z$-7Q$,$J$$!#(B
		(<code class="file" xml:lang="en"><var>~</var>/.ssh</code>
		$B$d%a%$%k$d(B 
		<code class="file" xml:lang="en"><var>~</var>/public_html/</code>
		$B$J$I$rK:$l$:$K!#(B)</li>
	</ul>
</li>
<li>
	<ul>
	<label>$B@_Dj%U%!%$%k7O(B</label>
	<li><code class="file" xml:lang="en">/etc/passwd</code>,
	<code class="file">/etc/group</code>
		(<abbr xml:lang="en">uid</abbr>, 
		<abbr xml:lang="en">gid</abbr> $B$NJ]B8!#(B
		$BJLES9g8@MU$N4IM}$K$bCm0U!#(B)</li>
	<li><code class="file" xml:lang="en">crontab</code>
		(<code xml:lang="en">root</code>, $B3FMxMQ<T(B)</li>
	<li><code class="file" xml:lang="en">httpd.conf</code>,
	<code class="file" xml:lang="en">mime.types</code>
		(<abbr xml:lang="en">CVS</abbr> $B$h$j!#(B)</li>
	<li><abbr xml:lang="en">INN</abbr></li>
	<li><code class="file" xml:lang="en">/etc/ssh/</code>
		(<code class="file" xml:lang="en">sshd.conf</code>,
		$B80!#HkL)80$K$OFC$KCm0U!#(B)</li>
	<li><code class="file" xml:lang="en">/etc/aliases</code>
                (<abbr xml:lang="en">CVS</abbr> $B$h$j!#(B)</li>
        <li><code class="file" xml:lang="en">/etc/hosts</code>
                (<abbr xml:lang="en">CVS</abbr> $B$h$j!#(B)</li>
        <li><code class="file" xml:lang="en">/etc/namazu/mknmzrc</code>,
	<code class="file" xml:lang="en">/etc/namazu/namazurc</code>
                (<abbr xml:lang="en">CVS</abbr> $B$h$j!#(B)</li>
	<li><span xml:lang="en">ViewCVS</span> $B$N@_Dj%U%!%$%k!"?w7A(B
		<h3:note xmlns:h3="urn:x-suika-fam-cx:markup:ietf:html:3:draft:00:">
			<p>$B:G?7HG$H$NF14|$KCm0U!#(B $B:G?7HG$K$9$k$H$-$K$O(B
			<code xml:lang="en" class="file">/home/httpd/html/gate/cvs.cgi</code>
			$B$N99?7$r(B ($BI,MW$J$i(B) $BK:$l$J$$$h$&$K!#(B</p>
		</h3:note></li>
	<li><code class="file" xml:lang="en">/etc/ld.so.conf</code>
		(<abbr xml:lang="en">CVS</abbr> $B$h$j!#(B
		$BJQ998e$O(B <kbd xml:lang="en">ldconfig</kbd> $B$r<B9T$9$k$3$H!#(B)</li>
	</ul>
</li>
<li>
	<ul>
	<label>$B$=$NB>(B</label>
	<li href="#APT-GET-PERL"><code class="file" xml:lang="en"
	>/usr/local/bin/perl</code>,
	<code class="file" xml:lang="en">/usr/bin/perl</code>
		($B$I$A$i$b:G?7$N(B <span xml:lang="en">Perl</span> 5
		$B$r;X$9$h$&$K!#(B)</li>
	<li href="#APT-GET-PYTHON"><code class="file" xml:lang="en"
        >/usr/local/bin/python</code>,
        <code class="file" xml:lang="en">/usr/bin/python</code>
                ($B$I$A$i$b:G?7$N(B <span xml:lang="en">Python</span>
                $B$r;X$9$h$&$K!#(B)</li>
	<li edit="deleted"><code class="file" xml:lang="en">/etc/rc.d/init.d/akadav</code></li>
	</ul>
</li>
</ul>
</section>

<div class="footer">
<div class="navigation">
[<a href="/">/</a> <a href="/admin/">$B4IM}It(B</a>
<a>$B1?MQ%a%b(B</a>]
</div>
<div class="update" xml:lang="en">$Date: 2007/03/10 09:43:01 $</div>
</div>
</body>
</html>
