@import '/www/style/html/xhtml.css';
@namespace h2002 'http://www.w3.org/2002/06/xhtml2';
@namespace h2005 'http://www.w3.org/2002/06/xhtml2/';

/* Viewports */

html {
  background-color: rgb(210, 255, 255);
  color: black;
}

h2005|html, h2002|html {
  background-color: rgb(210, 255, 255);
  color: black;
}

@media print {
  html, h2005|html, h2002|html {
    background-color: transparent;
    color: black;
  }
}

html.status-work-in-progress {
  padding-left: 50px;
  background-image: url(/admin/style/draft); /* width = 40px */
  background-position: left top;
  background-repeat: repeat-y;
  background-attachment: fixed;
}

/* XHTML 1 */
h1 {
	background-image: url(/admin/logo/suikalogo);
	background-position: top left;
	background-repeat: no-repeat;
	min-height: 70px;
  height: 70px;
	padding-left: 220px;
	text-align: left;
  vertical-align: middle;
}

html.formal-specification h1 {
  padding-top: 110px;
  background-image: url(/admin/logo/suikalogo);
  background-position: /* top= */ 0 /* left= */ 20px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  padding-left: 0;
  height: auto;
  min-height: 0;
}

h1 + h1, html.formal-specification h1 + h1 {
  padding-top: 0;
  padding-left: 0;
  height: auto;
  min-height: 0;
  background-image: none;
}

@media print {
  html.formal-specification h1 {
    padding-top: 0;
    padding-left: 0;
    height: auto;
    min-height: 0;
    background-image: none;
  }

  html.formal-specification h1:first-child:before {
    content: url(/admin/logo/suikalogo);
    display: block;
    padding-bottom: 1em;
  }
}

/* XHTML 2 */
body > h2005|h, body > h2002|h, h2005|body > h2005|h, h2002|body > h2002|h {
	margin-left: 0;
        background-image: url(/admin/logo/suikalogo);
        background-position: top left;
        background-repeat: no-repeat;
        min-height: 70px;
        padding-left: 220px;
        text-align: left;
}

/* Account manager */

.account-user-info [href*="/users/"],
.account-user-misc [href*="/users/"],
.account-group-info [href*="/users/"],
.account-group-misc [href*="/users/"],
.account-user-info [name=user-id],
.account-user-misc [name=user-id],
.account-group-info [name=user-id],
.account-group-misc [name=user-id] {
  background-image: url(/www/style/images/user22);
  background-position: center left;
  background-repeat: no-repeat;
  min-height: 24px;
  vertical-align: middle;
  padding-left: 24px;
}

.account-user-info [href*="/groups/"],
.account-user-misc [href*="/groups/"],
.account-group-info [href*="/groups/"],
.account-group-misc [href*="/groups/"],
.account-user-info [name=group-id],
.account-user-misc [name=group-id],
.account-group-info [name=group-id],
.account-group-misc [name=group-id],
.account-group-info input[value=admin_group] + p [name=value] {
  background-image: url(/www/style/images/community22);
  background-position: center left;
  background-repeat: no-repeat;
  min-height: 24px;
  vertical-align: middle;
  padding-left: 24px;
}

.account-error {}

/* Hyperlinks */

a:hover {
  background-color: #64ffd2;
  color: #007755;
}
