@import '/www/style/html/xhtml.css';

html.http401, html.http404, html.http410 {
  background-repeat: no-repeat;
  background-position: bottom right;
  background-attachment: fixed;
  background-color: white;
  color: black;
}

html.http401 {
  background-image: url(/~wakaba/art/locked);
}

html.http404 {
  background-image: url(404);
  background-position: top left;
}

html.http410 {
  background-image: url(410);
  background-position: bottom right;
}

/* License

Copyright 2005 Wakaba <w@suika.fam.cx>.

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; see the file COPYING.  If not, write to
the Free Software Foundation, Inc., 59 Temple Place - Suite 330,
Boston, MA 02111-1307, USA.

*/

/* $Date: 2005/06/10 10:50:49 $ */
