@import '/www/style/html/spec.css';

/* Viewports */

html {
  background-color: rgb(210, 255, 255);
  color: black;
}

@media print {
  html, h2005|html, h2002|html {
    background-color: transparent;
    color: black;
  }
}

html.status-work-in-progress {
  padding-left: 50px;
  background-image: url(/admin/style/draft); /* width = 40px */
  background-position: left top;
  background-repeat: repeat-y;
  background-attachment: fixed;
}

html.status-stable {
  padding-left: 50px;
}

h1 {
  padding-top: 110px;
  background-image: url(/admin/logo/suikalogo);
  background-position: /* top= */ 0 /* left= */ 20px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  padding-left: 0;
  text-align: left;
  vertical-align: middle;
}

h1 + h1 {
  padding-top: 0;
  padding-left: 0;
  height: auto;
  min-height: 0;
  background-image: none;
}

@media print {
  h1 {
    padding-top: 0;
    padding-left: 0;
    height: auto;
    min-height: 0;
    background-image: none;
  }

  h1:first-child:before {
    content: url(/admin/logo/suikalogo);
    display: block;
    padding-bottom: 1em;
  }
}

/* Hyperlinks */

a:hover {
  background-color: #64ffd2;
  color: #007755;
}


/* License

Copyright 2005 Wakaba <w@suika.fam.cx>.

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; see the file COPYING.  If not, write to
the Free Software Foundation, Inc., 59 Temple Place - Suite 330,
Boston, MA 02111-1307, USA.

*/

/* $Date: 2006/03/03 07:35:57 $ */
