<html xmlns="http://www.w3.org/1999/xhtml"
  lang="ja" xml:lang="ja">
<head>
<title>$B@>1;7W2hEE;R%K%e!<%9ItLg(B</title>
<link rel="stylesheet" href="../style/common" media="all" />
<link rel="up" href="../" title="$B@>1;7W2h4IM}It(B" />
<link rev="made" href="mailto:admin+suika@suikawiki.org" title="$B@>1;7W2hEE;R%K%e!<%9ItLg(B" />
<meta name="author" content="$B@>1;7W2hEE;R%K%e!<%9ItLg(B" />
</head>
<body>
<h1>$B@>1;7W2hEE;R%K%e!<%9ItLg(B</h1>

<p>$B$3$3$G$O!"@>1;7W2hEE;R%K%e!<%9ItLg$NDs6!$9$k%5!<%S%9$K4X$9$k>pJs$rDs6!$7$F$$$^$9!#(B
</p>

<p class="note">
$BCm0U(B: $B@>1;7W2h4IM}It$+$i$NH/I=$O(B
<code class="uri">&lt;<a href="../newsrelease/" title="$B@>1;7W2h4IM}It$+$i$N$*$7$i$;(B">https://suika.suikawiki.org/admin/newsrelease/</a>&gt;</code>
$B$G8x3+$7$F$*$j$^$9!#(B
</p>

<div class="section" id="WHATSNEW">
<h2>$B$*$7$i$;(B</h2>
<ol>
<li>$B@>1;7W2h%K%e!<%9ItLg$N2HJG(B ($B$3$NJ8=q(B) $B$,$G$-$^$7$?!#(B
(2004$BG/(B10$B7n(B20$BF|(B)</li>
</ol>
</div>

<div class="section" id="SERVICE">
<h2>$B@>1;7W2h%K%e!<%9ItLg$NC4Ev$9$k6HL3(B</h2>

<dl>
<dt><a href="#SUIKA-SERVER">$B@>1;%K%e!<%9;*(B</a>$B$N4IM}(B</dt>
	<dd><p>$B@>1;7W2h%K%e!<%9ItLg$O(B<a href="#SUIKA-SERVER">$B@>1;%K%e!<%9;*(B</a>$B$r4IM}!&1?MQ$7$F$*$j$^$9!#(B</p>
	<p>$B@>1;%K%e!<%9;*$G$O!"8=:_(B 
	<code class="newsgroup">suika.<var>*</var></code>
	$B$r8x3+$7$F$*$j$^$9!#(B</p></dd>
<dt><a href="#SUIKA-GROUPS"><code class="newsgroup">suika.<var>*</var></code></a> $B$N4IM}(B</dt>
	<dd><p>$B@>1;7W2h%K%e!<%9ItLg$O%K%e!<%9AH72(B
	<a href="#SUIKA-GROUPS"><code class="newsgroup">suika.<var>*</var></code></a>
	$B$N%K%e!<%9AH$N9=@.$r4IM}$7$F$$$^$9!#(B</p></dd>
</dl>
</div>

<div class="section" id="SUIKA-SERVER">
<h2>$B@>1;%K%e!<%9;*(B</h2>

<p>$B@>1;;*$O(B <abbr lang="en" xml:lang="en">NNTP</abbr> $B$K$h$C$FEE;R%K%e!<%9$rG[I[$7$F$$$^$9!#(B</p>

<dl>
<dt>$B;*%[%9%HL>(B</dt>
	<dd><code class="domain">suika.fam.cx</code></dd>
<dt>$B;*%]!<%HHV9f(B</dt>
	<dd><code>119</code> (<abbr lang="en" xml:lang="en">TCP</abbr>)</dd>
<dt>$B%W%m%H%3%k(B</dt>
	<dd><abbr lang="en" xml:lang="en">NNTP</abbr></dd>
<dt>$B;*%=%U%H%&%'%"(B</dt>
	<dd><abbr lang="en" xml:lang="en">INN</abbr></dd>
<dt>$BG'>Z(B</dt>
	<dd>$B$J$7!#(B</dd>
	<dd>
	<p class="note">
	$BCm0U(B: $B=>Mh!"0lIt%K%e!<%9AH$K$D$$$FG'>Z$K$h$C$F1\Mw!&Ej9F$r@)8B$7$F$*$j$^$7$?$,!"(B
	2003$BG/(B1$B7n0J8e$O$9$Y$F$N%K%e!<%9AH$,G'>Z$J$7$H$J$C$F$*$j$^$9!#(B
	</p>
	</dd>
<dt>$BG[I[%K%e!<%9AH(B</dt>
	<dd><a href="#SUIKA-GROUPS"><code class="newsgroup">suika.<var>*</var></code></a>
	($B$9$Y$F$N%K%e!<%9AH(B)</dd>
	<dd>
	<p class="note">
	$BCm0U(B: $B0JA030It$N%a%$%j%s%0!&%j%9%H$N5-;v$rG[?.$7$F$$$?(B
	<code class="newsgroup">ml.<var>*</var></code>
	$B$O!"(B2003$BG/(B1$B7n$^$G$K$9$Y$FGQ;_$5$l$^$7$?!#(B
	</p>
	</dd>
<dt>$BK~4|(B ($BM-8z4|8B(B)</dt>
	<dd>2004$BG/(B6$B7n0J9_EvJ,$N4V!"5-;v$N4|8B@Z$l$K$h$kGQ4~$O(B<em>$BDd;_(B</em>
	($BL54|8BJ]4I(B) $B$7$F$$$^$9!#(B</dd>
<dt>$BEj9F%F%9%H(B</dt>
	<dd>$BEj9F%F%9%H$K$O(B <code class="newsgroup"><a href="news:suika.test">suika.test</a></code>
	(<a href="news://suika.fam.cx/suika.test" title="suika.test $B$K(B NNTP $B7PM3$G(B"><abbr lang="en" xml:lang="en">NNTP</abbr></a>/<a href="/~wakaba/-temp/newsportal/thread/suika.test/" title="suika.test $B$K(B HTTP $B7PM3$G(B"><abbr lang="en" xml:lang="en">HTTP</abbr></a>)
	$B$r$*;H$$$/$@$5$$!#(B</dd>
<dt>$BLd$$9g$o$;@h(B</dt>
	<dd><code class="mail">&lt;<a href="mailto:news@suika.fam.cx">news@suika.fam.cx</a>&gt;</code></dd>
</dl>
</div>

<div class="section" id="SUIKA-GROUPS">
<h2>$B%K%e!<%9AH72(B <code class="newsgroup">suika.<var>*</var></code></h2>

<p>$BMM!9$JOCBj$r07$&%K%e!<%9AH72(B 
<code class="newsgroup">suika.<var>*</var></code>
$B$O!"@>1;7W2h%K%e!<%9ItLg$,$=$N%K%e!<%9AH9=@.$r4IM}$7$F$$$^$9!#(B</p>

<ul>
<li><a href="list/suika/latest" title="suika.* $B%K%e!<%9AH0lMw(B ($B:G?7HG(B)"><code class="newsgroup">suika.<var>*</var></code>
$B%K%e!<%9AH0lMw(B</a> (<a href="list/suika/latest" title="suika.* $B%K%e!<%9AH0lMw(B ($B:G?7HG(B)">$B:G?7HG(B</a>/<a href="list/suika/" title="suika.* $B%K%e!<%9AH0lMw(B ($B$9$Y$F$NHG(B)">$B$9$Y$F$NHG(B</a>)</li>
</ul>

<p>
$B%K%e!<%9AH72(B <code class="newsgroup">suika.<var>*</var></code>
$B$NMxMQ>e$NCm0U$d:G?7$N$*$7$i$;$J$I$O!"(B
<a href="news:suika.announce"><code class="newsgroup">suika.announce</code></a>
(<a href="news://suika.fam.cx/suika.announce" title="suika.announce (NNTP)"><abbr lang="en" xml:lang="en">NNTP</abbr></a>/<a href="/~wakaba/-temp/newsportal/thread/suika.announce/" title="suika.announce (HTTP)"><abbr lang="en" xml:lang="en">HTTP</abbr></a>)
$B$r8fMw$/$@$5$$!#(B
</p>
</div>

<div class="section" id="DOCUMENT">
<h2>$B@>1;7W2h%K%e!<%9ItLgJ8=q(B</h2>

<ul>
<li><a href="announce/">$B@>1;7W2h%K%e!<%9ItLg$+$i$N$*$7$i$;(B</a>
	<ul>
	<li><a href="announce/suika/"><code class="newsgroup">suika.<var>*</var></code>
	$B$K4X$9$k$*$7$i$;(B</a></li>
	</ul>
</li>
<li><a href="list/">$B%K%e!<%9AH$N0lMw(B</a>
	<ul>
	<li><a href="list/suika/latest" title="suika.* $B%K%e!<%9AH0lMw(B ($B:G?7HG(B)"><code class="newsgroup">suika.<var>*</var></code>
	$B%K%e!<%9AH0lMw(B</a> (<a href="list/suika/latest" title="suika.* $B%K%e!<%9AH0lMw(B ($B:G?7HG(B)">$B:G?7HG(B</a>/<a href="list/suika/" title="suika.* $B%K%e!<%9AH0lMw(B ($B$9$Y$F$NHG(B)">$B$9$Y$F$NHG(B</a>)</li>
	</ul>
</li>
<li><cite><a href="utf8-newsgroup-name"><span lang="en" xml:lang="en">UTF-8</span> 
	$B$r;H$C$?%K%e!<%9AHL>(B</a></cite>
	(2002$BG/(B4$B7n(B)</li>
</ul>
</div>

<div class="section" id="RELATED">
<h2>$B4XO"(B</h2>

<ul>
<li><a href="../">$B@>1;7W2h4IM}It(B</a></li>
<li><a href="../mail/">$B@>1;7W2hEE;R%a%$%kItLg(B</a></li>
<li><a href="nntp://suika.fam.cx/">$B@>1;%K%e!<%9;*(B 
	(<abbr lang="en" xml:lang="en">NNTP</abbr>)</a></li>
<li><a href="/~wakaba/-temp/newsportal/"><code class="newsgroup">suika.<var>*</var></code>
	$B$r(B <abbr lang="en" xml:lang="en">HTTP</abbr> $B7PM3$G(B</a> 
	(<a href="http://florian-amrhein.de/newsportal/" lang="en"
	xml:lang="en">NewsPortal</a> 
	$B$r;HMQ(B)</li>
</ul>
</div>

<div class="footer">
<div class="update" lang="en" xml:lang="en">
$Date: 2004/10/20 08:28:39 $
</div>
</div>
</body>
</html>
