<?xml version="1.0" encoding="iso-2022-jp"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>UTF-8 $B$r;H$C$?%K%e!<%9AHL>(B</title>
<link rel="contents" href="./" />
<?xml-stylesheet href="/s/simpledoc"?>
<link rel="stylesheet" href="/s/simpledoc" />
<link rev="made" href="mailto:wakaba@suikawiki.org" />
<link rel="copyright" href="/c/pd" title="Public Domain." />
<meta name="author" content="$B<cMU(B" />
<meta name="keywords" content="news, netnews, $BEE;R%K%e!<%9(B, usenet, newsgroup, newsgroups, $B%K%e!<%9(B, $B%K%e!<%9AH(B, $B%K%e!<%9AHL>(B, $B%K%e!<%9%0%k!<%WL>(B, $B?7J9AH(B, $B%K%e!<%9%0%k!<%W(B, $B%K%e!<%:(B, $B%K%e!<%:%0%k!<%W(B, $B%K%e!<%:%0%k!<%WL>(B, $BL>A0(B, $B?7J9AHL>(B, $B4A;z(B, $B$+$J(B, UTF-8, charset, $BJ8;z%3!<%I(B, suika, $B@>1;(B, suika.*, suika.test, suika.$B<B83(B, usefor, draft-usefor-article, grandson-of-RFC1036, grandson-of-1036, son-of-RFC1036, son-of-1036, RFC 1036, RFC 1036" />
</head>
<body>
<h1>UTF-8 $B$r;H$C$?%K%e!<%9AHL>(B</h1>

<p>$BEE;R%K%e!<%9(B (netnews) [<a href="#ref-RFC1036" class="ref">RFC1036</a>, 
<a href="#ref-son-of-RFC1036" class="ref">son-of-RFC1036</a>, 
<a href="#ref-NNTP" class="ref">NNTP</a>] $B$N%K%e!<%9AH(B (newsgroup) $BL>$K$O!"(B
$B=>Mh1Q8l$K;H$o$l$k(B26$BJ8;z%i%F%sJ8;z$H$4$/$o$:$+$N5-9f$N$_$,;H$($k(B
$B$H$5$l$F$-$^$7$?!#(B</p>

<p>$B$7$+$7!"(B RFC 1036 ($B5Z$S(B son-of-RFC1036) $B$N8e7Q$H$7$F(B
$B:n6H$,?J$a$i$l$F$$$k(B draft-usefor-article (aka grandson-of-RFC1036)
[<a href="#ref-USEFOR">USEFOR</a>] $B$O!"<!$N$h$&$K@bL@$7$F$$$^$9!#(B</p>

<blockquote cite="urn:ietf:rfc:draft-usefor-article-06" title="draft-usefor-article-06.txt $B!V(B5.5. Newsgroups$B!W(B">
<pre>
      newsgroup-name      = component *( &quot;.&quot; component )
      component           = 1*component-glyph
      ng-delim            = &quot;,&quot;
      component-glyph     = combiner-base *combiner-mark
      combiner-base       = combiner-ASCII / combiner-extended
      combiner-ASCII      = &quot;0&quot;-&quot;9&quot; / %x41-5A / %x61-7A / &quot;+&quot; / &quot;-&quot; / &quot;_&quot;
      combiner-extended   = &lt;any character with a Unicode code value of
                             0080 or greater and a combining class of 0,
                             but excluding any character in Unicode
                             categories Cc, Cf, Cs, Zs, Zl, and Zp&gt;
      combiner-mark       = &lt;any character with a Unicode code value of
                             0080 or greater and a combining class other
                             than 0&gt;
</pre>
</blockquote>

<p>$B$D$^$j!"$3$l$K$h$C$F4A;z$d2>L>$NL>A0$b2DG=$K$J$j$^$9!#(B</p>

<p>$B$H$$$&$3$H$GAaB.!"(B suika.* $B3,AX(B 
[<a href="#ref-suika.all">suika.*</a>] $B$K<B83E*$J%K%e!<%9AH(B 
<a href="nntp://suika.fam.cx/suika.%E5%AE%9F%E9%A8%93">suika.$B<B83(B</a>
$B$r(B 2002$BG/(B4$B7n(B1$BF|$K:n@.$7$^$7$?!#(B ($B>iCL$G$O$"$j$^$;$s(B:-)</p>

<p><a href="nntp://suika.fam.cx/suika.%E5%AE%9F%E9%A8%93">suika.$B<B83(B</a>
$B$KEj9F$5$l$?0FFb5-;v(B &lt;<a href="news:gtv6je.1157x.MFMMpm%w@suika.fam.cx">gtv6je.1157x.MFMMpm%w@suika.fam.cx</a>&gt;
$B$r(B (expire $B$5$l$F$J$1$l$P(B) $BFI$`$3$H$,=PMh$^$9!#(B</p>

<p>$B$^$?!"(B<a href="nntp://suika.fam.cx/suika.%E5%AE%9F%E9%A8%93">suika.$B<B83(B</a>
$B$O(B 
<a href="/~wakaba/-temp/newsportal/thread/suika:%E5%AE%9F%E9%A8%93/">Web $B$+$i$b(B($B<B83E*$K(B)$BFI$`$3$H$,=PMh$^$9(B</a>$B!#(B
($B7Y9p(B: $B$3$N(B URI $B$O0l;~E*$J$b$N$G$"$j!"$=$N(B<del>$B1JB3(B</del>
<ins>$B7QB3(B</ins>$B@-$K$D$$$F$O0l@ZJ]>Z$G$-$^$;$s!#(B)</p>

<p><a href="nntp://suika.fam.cx/suika.%E5%AE%9F%E9%A8%93">suika.$B<B83(B</a>
$B$r$*<j;}$A$N%K%e!<%9%j!<%@!<$J$I$GFI$`$3$H$,=PMh$^$7$?$i!"(B
$B@'Hs(B <a href="nntp://suika.fam.cx/suika.msg">suika.msg</a> 
($B$*$h$S(B <a href="nntp://suika.fam.cx/suika.%E5%AE%9F%E9%A8%93">suika.$B<B83(B</a>:-)
$B$K8fJs9p2<$5$$!#(B</p>

<h2>$B;29MJ88%(B</h2>

<dl>
<dt id="ref-RFC1036">[RFC1036]</dt>
	<dd>M. Horton, R. Adams, $B!X(BStandard for Interchange of
        USENET Messages$B!Y(B, 
        <a href="/uri-res/N2L?urn:ietf:rfc:1036">RFC 1036</a>, 
        1987$BG/(B12$B7n!#(B</dd>
<dt id="ref-son-of-RFC1036">[son-of-RFC1036]</dt>
	<dd>Henry Spencer, $B!X(BNews article format and transmission$B!Y(B,
        &lt;<a href="ftp://ftp.zoo.toronto.edu/pub/news.txt.Z">ftp://ftp.zoo.toronto.edu/pub/news.txt.Z</a>&gt;, 1994$BG/(B6$B7n!#(B</dd>
<dt id="ref-USEFOR">[USEFOR]</dt>
	<dd>Charles H. Lindsey, $B!X(BNews Article Format$B!Y(B, 
	<a href="/uri-res/N2L?urn:ietf:id:draft-ietf-usefor-article-format-06">draft-ietf-usefor-article-format-06.txt</a>,
	2001$BG/(B11$B7n(B, $B:n6HCf!#(B</dd>
<dt id="ref-NNTP">[NNTP]</dt>
	<dd>B. Kantor, P. Lapsley, $B!X(BNetwork News Transfer Protocol$B!Y(B,
	<a href="/uri-res/N2L?urn:ietf:rfc:977">RFC 977</a>,
	1986$BG/(B2$B7n(B1$BF|!#(B</dd>
	<dd>S. Barber, $B!X(BCommon NNTP Extensions$B!Y(B,
	<a href="/uri-res/N2L?urn:ietf:rfc:2980">RFC 2980</a>,
	2000$BG/(B10$B7n!#(B</dd>
<dt id="ref-suika.all">[suika.*]</dt>
	<dd>suika.* $B:G>e0LJ,N`!#%K%e!<%9AH$N0lMw$O(B
	$B!X(B<a href="newsgroups-suika">suika.* $B?7J9AH0lMw(B</a>$B!Y(B
	$B$r;2>H!#(B</dd>
</dl>

<div class="navigation">
[<a href="/" title="$B$3$N%5!<%P!<$N<sJG(B">/</a>
<a href="/map" title="$B$3$N%5!<%P!<$N0FFb(B" rel="index">$BCO?^(B</a>
<a href="/search/" title="$B$3$N%5!<%P!<$N8!:w(B">$B8!:w(B</a>]
[<a href="../">$B@>1;7W2h4IM}It(B</a>
<a href="./" rel="index">$BEE;R%K%e!<%9(B</a>]
<a href="http://validator.w3.org/check/referer" xml:lang="en">
<img src="http://www.w3.org/Icons/valid-xhtml11" id="w3c-html"
  alt="Valid XHTML 1.1!" style="height: 31px; width: 88px" />
</a>
<!-- http://jigsaw.w3.org/css-validator/validator?uri= -->
<a href="http://jigsaw.w3.org/css-validator/check/referer" xml:lang="en">
<img style="width: 88px; height: 31px" id="w3c-css"
  src="http://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!" />
</a>
</div>
<div class="update">$Date: 2002/04/01 02:11:40 $
<!--#exec cmd="perl /home/wakaba/lib/counter.pl admin-news-utf8" --></div>
<ul class="myuri">
<li>&lt;URL:<a href="/admin/news/utf8-newsgroup-name">http://suika.fam.cx/admin/news/utf8-newsgroup-name</a>&gt;</li>
<li>&lt;CVS:<a href="/gate/cvs/webroot/admin/news/utf8-newsgroup-name.ja.html">suika.fam.cx:/home/cvs/webroot/admin/news/utf8-newsgroup-name.ja.html</a>&gt;</li>
</ul>
</body></html>
