<?xml version="1.0" encoding="iso-2022-jp"?>
<?xml-stylesheet href="/admin/style/common" ?>
<html xmlns="http://www.w3.org/2002/06/xhtml2" xml:lang="ja">
<head>
<title>Suika $B%5!<%P!<>c32Js9p(B : 2003$BG/(B11$B7n(B19$BF|(B</title>
<link rev="made" href="mailto:admin@suika.fam.cx" />
<link rel="contents" href="../" title="2003$BG/$N@>1;7W2h$+$i$N$*CN$i$;(B" />
<link rel="next" href="1120" title="Suika $B%5!<%P!<>c32Js9p(B : 2003$BG/(B11$B7n(B20$BF|(B"/>
<link rel="alternate" href="news:emqh.bx795e.1nq.MFMpm%25w@suika.fam.cx" type="message/rfc822"/>
<meta name="author" content="$B@>1;7W2h4IM}It(B" />
</head>
<body>
<h>Suika $B%5!<%P!<>c32Js9p(B</h>

<p>$BK\F|(B (2003$BG/(B11$B7n(B19$BF|(B) $B8a8e(B3$B;~:"$+$i8a8e(B6$B;~H>:"(B ($BF|K\;~4V(B)
$B$^$G!"(B suika $B%5!<%P!<(B (<code>suika.fam.cx</code>) 
$B$K@\B3$G$-$J$$>uBV$,B3$$$F$$$^$7$?!#(B
Suika $B%5!<%P!<$r$4MxMQ$N3'MM$K$O$4LBOG$r$*$+$1$7$F(B
$B?=$7Lu$"$j$^$;$s!#(B</p>

<p>$B$3$N>c32$N860x$O30It%M%C%H%o!<%/$H(B suika $B%5!<%P!<$N7PO)>e$N(B
$B%M%C%H%o!<%/5!4o$NO75`2=$K$h$k$b$N$H;W$o$l$^$9!#8=;~E@$G$O(B
$BBeMQIJ$,$J$$$?$a!"F1$85!4o$G$J$s$H$+F0$+$7$F$$$^$9$,!"(B
$B6aF|Cf$K<h$jBX$($kM=Dj$G$9!#$=$l$^$G$N4V$K:FEY>c32$,H/@8$9$k(B
$B2DG=@-$b$"$j$^$9$,!"$=$N@a$O$I$&$+$4MF<O$/$@$5$$!#(B</p>

</body>
</html>
