<?xml version="1.0" encoding="iso-2022-jp"?>
<?xml-stylesheet href="/admin/style/common" ?>
<html xmlns="http://www.w3.org/2002/06/xhtml2" xml:lang="ja">
<head>
<title>Suika $B%5!<%P!<>c32Js9p(B: 2004$BG/(B3$B7n(B3$BF|(B</title>
<link rev="made" href="mailto:admin+suika@suikawiki.org" />
<link rel="contents" href="../" title="2004$BG/$N@>1;7W2h$+$i$N$*CN$i$;(B" />
<link rel="prev" href="../2003/1120" title="Suika $B%5!<%P!<>c32Js9p(B: 2003$BG/(B11$B7n(B20$BF|(B" />
<link rel="alternate" href="news:z3rd.b=40fe.2lr.MFMpm%25w@suika.fam.cx" type="message/rfc822" />
<link rel="alternate" href="https://suika.suikawiki.org/~wakaba/-temp/newsportal/article/z3rd.b=40fe.2lr.MFMpm%25w@suika.fam.cx" />
<meta name="author">$B@>1;7W2h4IM}It(B</meta>
</head>
<body>
<h>Suika $B%5!<%P!<>c32Js9p(B</h>

<p>2004$BG/(B2$B7n(B27$BF|(B($B6bMKF|(B)$BCkA0$h$j!"(B2004$BG/(B3$B7n(B3$BF|8a8e(B4$B;~(B ($BF|K\;~4V(B) $B$^$G!"(B
$B%M%C%H%o!<%/2s@~$N>c32$K$h$j!"(B Suika $B%5!<%P!<$K@\B3$G$-$J$$>uBV$,B3$$$F$*$j$^$7$?!#C4Ev<T$,IT:_$G$"$C$?$?$a$KI|5l$,CY$l$^$7$?!#(B
Suika $B%5!<%P!<8fMxMQ$N3'MMJ}$K$O8fLBOG$r$*$+$1$7!"BgJQ?=$7Lu$4$6$$$^$;$s!#(B</p>

<p class="note">$B$3$N$*CN$i$;$O%&%'%V$H%K%e!<%9$G$*Aw$j$7$F$*$j$^$9!#(B
<dl>
<dt xml:lang="en">$B%&%'%V(B</dt>
	<dd><code class="uri">http://suika.fam.cx/admin/newsrelease/2004/0303</code></dd>
<dt xml:lang="en">$B%K%e!<%9(B</dt>
	<dd><code class="newsgroup" href="news:suika.announce">suika.announce</code> [<a href="news://suika.fam.cx/suika.announce"><abbr xml:lang="en">NNTP</abbr></a> / <a href="https://suika.suikawiki.org/~wakaba/-temp/newsportal/thread/suika.announce/"><abbr xml:lang="en">HTTP</abbr></a>]</dd>
</dl>
</p>

</body>
</html>
