<html lang="ja">
<head>
<title>$B3d$jEv$F(B: Web</title>
<link rel="stylesheet" href="/s/simpledoc" />
<link rev="made" href="mailto:wakaba@61.201.226.127" />
<link rev="copyright" href="/c/" />
<meta name="author" content="$B<cMU(B" />
<meta name="keywords" content="$B@>1;(B, $B3d$jEv$F(B" />
<meta name="keywords" content="URI, URL, Web" lang="en" />
<meta name="description" content="$B@>1;(B Web $B%5!<%P!<6u4V$N3d$jEv$FI=!#(B" />
<style type="text/css">
.forserver	{color: blue}
.file	{color: gray}
</style>
</head>
<body>
<h1><a href="../"><img class="minilogo" src="../logo" alt="$B@>1;7W2h(B" /></a>$B3d$jEv$F(B: Web</h1>

<h2>$B3d$jEv$FI=(B</h2>

<p>$BI=Cf7I>NN,!#%i%F%s;zJl(B($B1Q8l(B)$B=g!#(B<span class="forserver">$B@D?'(B</span>$B$O!"%5!<%P!<4IM}$J$I$N$?$a$N;q8;!#(B<span class="file">$B3%?'(B</span>$B$O!"3,AX$G$O$J$/C1FH$N;q8;!#(B</p>

<dl>
<dt class="forserver">/</dt>
	<dd>$B0lHV>e!#4IM}<T(B: <a href="#person_wakaba">$B<cMU(B</a>
	
	<dl>
	<dt>~<var>hogehoge</var>/</dt>
		<dd>$B@>1;7W2h@5<0%a%s%P!<$K3d$jEv$F$i$l$k!#3d$jEv$FL>$N4IM}<T$O(B<a href="#person_mitsurugi">$BLo7u(B</a>$B!#$=$l0J2<$N;q8;$N4IM}<T$O3FHo3d$jEv$F<T!#(B</dd>
	<dt class="forserver">admin/</dt>
		<dd>$B@>1;7W2h$=$N$b$N$d4IM}It$K4X$9$k;qNA$J$I!#4IM}<T(B: <a href="#person_utubi">$B1'DEH~(B</a>
		
		<dl>
		<dt class="forserver">doc.ad/</dt>
			<dd>$B@>1;7W2h$N8x<0J8=q!#(B $B4IM}<T(B: <a href="#person_wakaba">$B<cMU(B</a></dd>
		<dt class="forserver">web.ad/</dt>
			<dd>$B@>1;(B Web $B%5!<%P!<$N4IM}>pJs!#<g$K5-O?!#(B $B4IM}<T(B: <a href="#person_wakaba">$B<cMU(B</a></dd>
		<dt class="forserver">assign/</dt>
			<dd>$B@>1;7W2h4IM};q8;$N3d$jEv$F$K$D$$$F!#(B $B4IM}<T(B: <a href="#person_wakaba">$B<cMU(B</a></dd>
		</dl>
		</dd>
	<dt class="file">anntena</dt>
		<dd>$B@>1;(B Web $B%5!<%P!<Fb$N%"%s%F%J>pJs$d!"99?7;~9o>pJs$NDs6!$K$D$$$F!#(B $B4IM}<T(B: <a href="#person_wakaba">$B<cMU(B</a></dd>
	<dt class="forserver">c/</dt>
		<dd>$BCx:n8"$K4X$9$kJ8=q$J$I$NE}0lCV$->l!#4IM}<T(B: <a href="#person_wakaba">$B<cMU(B</a></dd>
	<dt>chuubu/</dt>
		<dd>$B!X$A$e!<$V$N1;!Y!#4IM}<T(B: <a href="#person_wakaba">$B<cMU(B</a></dd>
	<dt class="forserver">error/</dt>
		<dd>$B%5!<%P!<$NNc301~Ez$N$?$a$N?w7?!#4IM}<T(B: <a href="#person_wakaba">$B<cMU(B</a></dd>
	<dt class="file">favicon</dt>
		<dd>Internet Explorer $B$J$I$N$?$a$N2hA|!#8=:_$O>e<j$/F0:n$7$F$$$J$$(B:-&lt; $B4IM}<T(B: <a href="#person_wakaba">$B<cMU(B</a></dd>
	<dt class="forserver">icons/</dt>
		<dd>$B%5!<%P!<$N;HMQ$9$k2hA|!#4IM}<T(B: <a href="#person_wakaba">$B<cMU(B</a></dd>
	<dt>ml/</dt>
		<dd>$B%a%$%k!&%j%9%H$J$I$N5-O?!#4IM}<T(B: <a href="#person_wakaba">$B<cMU(B</a></dd>
	<dt class="file">news</dt>
		<dd>Web $B%5!<%P!<A4BN$K4X$o$k$*$7$i$;!#6a$$$&$A$KF|5-5!9=$K$h$j<+F02=$5$l$k8+9~$_!#4IM}<T(B: <a href="#person_utubi">$B1'DEH~(B</a></dd>
	<dt>okuchuu/</dt>
		<dd>$B!XEA@b$N!V$*$/$A$e(B($BFf(B)$B!W!Y!#4IM}<T(B: <a href="#person_wakaba">$B<cMU(B</a></dd>
	<dt class="file">robots</dt>
		<dd>HTTP $B%m%\%C%H$J$I$N$?$a$N>pJs!#(B $B4IM}<T(B: <a href="#person_wakaba">$B<cMU(B</a></dd>
	<dt class="forserver">s/</dt>
		<dd>$B6&DL$N4pK\MM<0;f$NCV$->l!#4IM}<T(B: <a href="#person_wakaba">$B<cMU(B</a></dd>
	<dt class="forserver">search/</dt>
		<dd>$B8!:w$N$?$a$N=t5!9=$J$I!#4IM}<T(B: <a href="#person_wakaba">$B<cMU(B</a></dd>
	<dt class="file">suika</dt>
		<dd>Web $B%5!<%P!<$N4{Dj$NJ8=q!#4IM}<T(B: <a href="#person_utubi">$B1'DEH~(B</a></dd>
	<dt class="file">updatetime</dt>
		<dd>$B%"%s%F%J$J$I$N$?$a$N99?7;~9o>pJs!#(B $B4IM}<T(B: <a href="#person_wakaba">$B<cMU(B</a></dd>
	<dt class="forserver">uri/</dt>
		<dd>URI $B2r7h$N$?$a$N=t5!9=$J$I!#4IM}<T(B: <a href="#person_wakaba">$B<cMU(B</a></dd>
	</dl>
	</dd>
</dl>

<dl>
<dt id="person_utubi">$B1'DEH~(B</dt>
	<dd>[<a href="/~utubi/">Web</a>] [<a href="mailto:utubi@61.201.226.127">$B%a%$%k(B</a>]</dd>
<dt id="person_mitsurugi">$BLo7u(B</dt>
	<dd>[<a href="/~rei/">Web</a>] [<a href="mailto:rei@61.201.226.127">$B%a%$%k(B</a>]</dd>
<dt id="person_wakaba">$B<cMU(B</dt>
	<dd>[<a href="/~wakaba/">Web</a>] [<a href="mailto:wakaba@61.201.226.127">$B%a%$%k(B</a>]</dd>
</dl>

<h2>$BEPO?$dJQ99$N?=@A(B</h2>

<p>URN $B$NEPO?;vL3$O8=:_(B<a href="mailto:wakaba@61.201.226.127">$B$o$+$P(B</a>$B$,9T$C$F$$$k!#EPO?$dJQ99$NI,MW$N$"$k:]$OEE;R%a%$%k$K$FO"Mm$5$l$?$$!#(B</p>

<h2>$BD4@0(B</h2>

<p>$B3d$jEv$F$K4X$7$F$N0U8+>WFMEy$,$"$k>l9g!"$=$NH=CG$O(B<a href="mailto:admin@61.201.226.127">$B4IM}CD(B</a>$B$K0Q$M$i$l$k!#(B</p>

<address>[<a href="/">/</a>/<a href="/admin/">$B@>1;7W2h(B</a>/<a href="/admin/assign/">$B3d$jEv$F(B</a>/]</address>
<div class="update">2001-06-11</div>
</body></html>
