<html lang="ja">
<head>
<title>$B%5!<%P!<@\B3ITG=$K$J$k$+$b$7$l$J$$$H$$$&$*$7$i$;(B($BFf(B)</title>
<link rel="stylesheet" href="/s/simpledoc" />
<link rev="made" href="mailto:wakaba@suika.fam.cx" />
<link rev="copyright" href="/c/" />
<meta name="author" content="$B<cMU(B" />
</head>
<body>
<h1><a href="/"><img class="minilogo" src="/admin/logo" alt="$B@>1;7W2h(B"
/></a>$B%5!<%P!<@\B3ITG=$K$J$k$+$b$7$l$J$$$H$$$&$*$7$i$;(B($BFf(B)</h1>

<h2>$B35MW(B</h2>
<p>$B>eN.2s@~$N9);v$K$h$j!"(B 2001$BG/(B6$B7n(B29$BF|(B($B6b(B), 7$B7n(B6$BF|(B($B6b(B) $B$K@>1;%5!<%P!<(B
$B$K(B the Internet $BB&$+$i@\B3=PMh$J$/$J$k2DG=@-$,$"$j$^$9!#(B</p>

<h2>$B>\:Y(B</h2>

<p><a href="http://www.ntt-west.co.jp/">NTT $B@>F|K\(B</a>$B$h$j<!$NMM$J0FFb(B
$B$,FO$-$^$7$?!#(B</p>

<blockquote>
<pre>
*******************************************************************
$B"#(BNTT$B9);v$K$h$k%U%l%C%D(BISDN$B%5!<%S%90l;~Dd;_$N$*CN$i$;(B($BIY;3;T(B)
*******************************************************************
 NTT$B$K$h$k9);v<B;\$N$?$a!"2<5-FbMF$GDL?.$,ITDL!"$^$?$OIT0BDj$J>uBV(B
 $B$K$J$j$^$9!#(B

 [$B2s@~Dd;_F|;~(B]  $BJ?@.(B13$BG/(B6$B7n(B29$BF|(B($B6b(B)4:00$B!A(B5:00$B$N4V$G(B30$BJ,DxEY(B
 [$BDd;_BP>](B]      $B%U%l%C%D!&(BISDN$B$G$4MxMQ$N$*5RMM(B
         $B!&IY;3;T$N0lItCO0h(B($B4d@%!"?e?,!"8b1)%S%k<}MF(B)$B![(B

	 [$B2s@~Dd;_F|;~(B]  $BJ?@.(B13$BG/(B7$B7n(B6$BF|(B($B6b(B)4:00$B!A(B5:00$B$N4V$G(B30$BJ,DxEY(B
	 [$BDd;_BP>](B]      $B%U%l%C%D!&(BISDN$B$G$4MxMQ$N$*5RMM(B
	         $B!&IY;3;T$N0lItCO0h(B($B4d@%!"8b1)%S%k<}MF(B)$B![(B
</pre>
</blockquote>

<p>$B$3$N$h$&$K!"@>1;%5!<%P!<$K(B the Internet $BB&$+$i(B NTT $B@>F|K\$N%U%l%C%D!&(B
ISDN $BLV$rDL$7$F@\B3$9$k7PO)$,<WCG$5$l$k62$l$,$"$j$^$9!#(B</p>

<p>$B$*5^$.$N>l9g$O!"Lo7u2HFb@lMQ2s@~$KD>@\@\B3$5$l$k;v$G@>1;%5!<%P!<Fb(B
$B$N;q8;$rMxMQD:$1$^$9!#(B</p>

<p>$B$J$*!">l9g$K$h$C$F$O$3$N9);v$,85$G(B the Internet $B$+$i@>1;%5!<%P!<$K(B
$B@\B3$9$k$?$a$N(B IPv4 address ($B8=:_(B 61.201.226.127) $B$,JQ99$K$J$k2DG=@-$,(B
$B$"$j$^$9!#(B</p>

<p>$B$b$79);v4|4V=*N;8e$K@>1;%5!<%P!<$K@\B3=PMh$J$$>l9g$O!"(B <a
href="http://niigata.cool.ne.jp/wakaba2001/suika.ja.html">http://niigata.cool.ne.jp/wakaba2001/suika.ja.html</a>
$B$r8fMw2<$5$$!#(B</p>

<address>[<a href="/">/</a><a href="/admin/">$B@>1;7W2h(B</a>/<a
href="./">$B$*$7$i$;(B</a>]</address>
<div class="update">2001-06-23 ($B<cMU(B)</div>
</body></html>
<!-- Original URI: <http://suika.fam.cx/admin/news-2001-06-26> -->
<!-- Current URI: <http://suika.fam.cx/admin/newsrelease/2001-06-26> -->
