<Html lang="ja">
<Head>
<Title>$B6[5^(B-$B$9$$$+%5!<%PDd;_M=9p(B-</Title>
<Meta name="author" content="Joe Utubi">
<Meta name="description" content="$B$9$$$+Dd;_9pCN(B">
<Meta name="keywords" content="$B@>1;(B,$B%9%$%+(B,$B$9$$$+(B,$B%5!<%P!<(B,server,$B%[!<%`%Z!<%8%9%Z!<%9(B,$B%&%'%V%9%Z!<%9(B">
<Link href="/shell/default.css" rel="stylesheet" type="text/css">
<Style Type="text/css">
</Style>
</Head>
<Body>

<!--$B@>1;7W2h(Bmember$B%m%4(B-->
<H3><A href="../">
<IMG SRC="/admin/logo/suikalogo.png" ALT="Suika Project">
Suika Project</A></H3><BR>
<!--$B$3$3$^$G(B-->

$B1\Mw<T3F0L$N3'MM(B
<P class="date-suika">
2001$BG/(B8$B7n(B1$BF|(B</P>
<P class="name-suika">
$B$9$$$+4IM}%A!<%`(B $B1'DEH~>e(B</P>
<P class="title">
$B$9$$$+%5!<%P(B"$B6[5^(B"$BDd;_M=9p(B</P>
<Pre>
$B$9$$$+%5!<%P!<$,%a%s%F%J%s%95Z$S(B
$B%a%b%jA}@_$N$?$a0l;~Dd;_$7$^$9!#(B
$BF|Dx(B: 8$B7n(B5$BF|(B($BF|MKF|(B) 10:30$B!A(B15:30$B:"Kx(B
($BCGB3E*$b$7$/$OITDj4|$G$9!#(B)
$BDd;_Cf$K1\Mw$7$h$&$H$7$F$b(B
$B%"%/%;%9$G$-$^$;$s$N$G$4Cm0U$/$@$5$$!#(B
$BKt!"B?>/$N;~4V$NA08e$,$"$k$+$b$7$l$J$$$N$G!"(B
$B$=$N$H$-$O2?B4$4N;>5$/$@$5$$!#(B
$B0l1~!"0l;~E*$K%_%i!<%5!<%P!<$,N)$DM=Dj$J$N$G!"(B
$B$3$N8fCN$i$;5Z$S6[5^O"MmEy$N(B
$B:GDc8B$N>pJs$O9pCN$G$-$k$H;W$o$l$^$9!#(B
$BITHw$J$I$,$"$C$?>l9g$O!"(B<a href="mailto:utubi@suika.fam.cx">$B1'DEH~(B</a>
$B$"$?$j$^$GAw$C$F$/$@$5$$!#(B
</Pre>

<!--$BLa$k$H$-$N%m%4(B-->
<Br><Br>
<A href="../">index.html$B$XLa$k(B</A>
<!--$B$3$3$^$G(B-->

</Body>
</Html>
