<Html lang="ja">
<Head>
<Title>$B6[5^(B-DDNS$BB&%5!<%P!<ITD4$K$h$k(Bsuika.fam.cx$B@\B3ITD4$N8fCN$i$;(B-</Title>
<Meta name="author" content="Joe Utubi">
<Meta name="description" content="DDNS$BB&%5!<%P!<ITD4$K$h$k(Bsuika.fam.cx$B@\B3ITD4$N8fCN$i$;(B">
<Meta name="keywords" content="$B@>1;(B,$B%9%$%+(B,$B$9$$$+(B,$B%5!<%P!<(B,server,$B%[!<%`%Z!<%8%9%Z!<%9(B,$B%&%'%V%9%Z!<%9(B">
<Link href="/shell/default.css" rel="stylesheet" type="text/css">
<Style Type="text/css">
</Style>
</Head>
<Body>

<!--$B@>1;7W2h(Bmember$B%m%4(B-->
<H3><A href="../">
<IMG SRC="/admin/logo/suikalogo.png" ALT="Suika Project">
Suika Project</A></H3><BR>
<!--$B$3$3$^$G(B-->

$B1\Mw<T3F0L$N3'MM(B
<P class="date-suika">
2001$BG/(B8$B7n(B10$BF|(B</P>
<P class="name-suika">
$B$9$$$+4IM}%A!<%`(B $B1'DEH~>e(B</P>
<P class="title">
DDNS$BB&%5!<%P!<ITD4$K$h$k(Bsuika.fam.cx$B@\B3ITD4$N8fCN$i$;(B</P>
<Pre>
$B:rF|!"(B9$BF|Lk$0$i$$$+$iK\F|8a8e(B1$B;~2a$.$^$G!"(B
suika.fam.cx$B$rMxMQ$7$?@\B3$O=PMh$J$$$H8@$&>u67$K4Y$C$F$$$^$7$?!#(B
IP$B$K$h$k@\B3$N$_$@$C$?$?$a!"MxMQ$G$-$J$$J}!9$K(B
$B$4LBOG$r$*$+$1$7$?$3$H$r$*OM$S?=$7>e$2$^$9!#(B
$B>\:Y$,CN$j$?$$J}$O!"(B<a href="http://www.ieserver.net/m0106.html">DDNS$B$N$H$3$m(B</a>
$B$N(B280$BHV5-;v$NA08e$r8fMw$K$J$C$F$/$@$5$$!#(B
$B0J>e$G$9!#(B
</Pre>

<!--$BLa$k$H$-$N%m%4(B-->
<Br><Br>
<A href="../">Top$B$XLa$k(B</A>
<!--$B$3$3$^$G(B-->

</Body>
</Html>
