<html xmlns="http://www.w3.org/1999/xhtml"
  lang="ja" xml:lang="ja">
<head>
<title>$B@>1;%a%$%k;*$N$40FFb(B</title>
<link rel="contents" href="../" title="$B@>1;7W2h$N$40FFb(B" />
<link rev="made" href="mailto:postmaster@suika.fam.cx" />
<link rel="stylesheet" href="/admin/style/common" media="all" />
</head>
<body>
<h1>$B@>1;%a%$%k;*(B</h1>

<p>$B@>1;;*$O!"8=:_%a%$%k4X78$N<!$N%5!<%S%9$r1?MQ$7$F$$$^$9!#(B</p>

<dl>
<dt><a href="#SMTP"><abbr>SMTP</abbr> $B;*(B</a></dt>
	<dd>$B@>1;;*$K(B account $B$r;}$DMxMQ<T$,%a%$%k$rAw?.$9$k$?$a$N;*!#(B
	($B30It$+$i@>1;;*$X$N%a%$%k$N<u<h$j$bC4Ev!#(B)</dd>
<dt><a href="#IMAP"><abbr>IMAP</abbr> $B;*(B</a></dt>
	<dd>$B@>1;;*$K(B account $B$r;}$DMxMQ<T$,%a%$%k$r<u?.$9$k$?$a$N;*!#(B</dd>
<dt><a href="/ml/">$B%a%$%j%s%0!&%j%9%H(B</a></dt>
<dt>$B%a%$%k(B2$B%K%e!<%94XLg(B</dt>
	<dd>$B%a%$%k$r<+F0E*$K(B<a href="../news/">$B@>1;%K%e!<%9;*(B</a>$B$KEj9F!#(B</dd>
</dl>

<div class="section" id="SMTP">
<h2><abbr>SMTP</abbr> $B;*(B</h2>

<p><code>suika.fam.cx</code> $B$N(B port <code>25</code>
$B$G(B <abbr>SMTP</abbr> $B$rMxMQ$G$-$^$9!#(B
<a href="http://www.postfix.org/">Postfix</a> $B$r;HMQ$7$F$$$^$9!#(B</p>
</div>

<div class="section" id="POP">
<h2><abbr>POP</abbr> $B;*(B</h2>

<p>$B8=:_(B <code>suika.fam.cx</code> $B$G$O(B <abbr>POP3</abbr>
$B$OMxMQ$G$-$^$;$s!#(B</p>
</div>

<div class="section" id="IMAP">
<h2><abbr>IMAP</abbr> $B;*(B</h2>

<p><code>suika.fam.cx</code> $B$G$O(B <abbr>IMAP4</abbr>
$B$rMxMQ$G$-$^$9$,!"30It$K$OD>@\8x3+$5$l$F$$$^$;$s!#(B
ssh $B$rDL$7$F$4MxMQ$/$@$5$$!#(B</p>
</div>

<div class="section" id="CONTACT">
<h2>$BO"Mm@h(B</h2>

<p>$B@>1;;*$N%a%$%k4XO"%5!<%S%9$K$D$$$F$N$*Ld9g$;$O!"(B
<code class="mail">&lt;<a href="mailto:postmaster@suika.fam.cx">postmaster@suika.fam.cx</a>&gt;</code>
$B$^$G$*5$7Z$K$*Aw$j$/$@$5$$!#(B</p>

<p>$B%a%$%k4X780J30$K$D$$$F$O!"(B
<a href="../#contact">$BLd9g$;@h0lMw(B</a>$B$r;2>H$7$F$/$@$5$$!#(B</p>
</div>

</body>
</html>
