<html xmlns="http://www.w3.org/1999/xhtml"
    lang="ja" xml:lang="ja">
<head profile="http://suika.fam.cx/~wakaba/-temp/wiki/wiki?WikiHTMLMetaProfile">
<title>Suika.fam.cx $B%^!<%/IU$1$N;X?K(B</title>
<link rel="stylesheet" href="/admin/style/common" media="all" />
<link rel="stylesheet" href="/www/style/ui/toc-after-abstract" media="all" />
<link rel="contents" href="./" />
<link rel="glossary" href="/gate/2005/sw/Wiki/Page/Search" title="SuikaWiki" />
<link rev="made" href="mailto:webmaster@suika.fam.cx" />
</head>

<body>
<h1>$B%^!<%/IU$1$N;X?K(B</h1>

<div class="section" id="ABSTRACT">
<h2>$B35MW(B</h2>

<p>$B$3$NJ8=q$G$O!"(B <code>suika.fam.cx</code>
$B$G?75,$K8x3+$9$k(B <abbr lang="en" xml:lang="en"
title="Hypertext Markup Language">HTML</abbr> 
$BJ8=q$N%^!<%/$NIU$1J}$N;X?K$r<($7$^$9!#(B</p>
</div>

<div class="section" id="INTRODUCTION">
<h2>$B$O$8$a$K(B</h2>

<p>$B$3$NJ8=q$G$O!"(B <code>suika.fam.cx</code>
$B$G?75,$K8x3+$9$k(B <abbr lang="en" xml:lang="en"
title="Hypertext Markup Language">HTML</abbr> 
$BJ8=q$N%^!<%/$NIU$1J}$N;X?K$r<($7$^$9!#(B</p>

<p>$B$3$NJ8=q$NFbMF$O$"$/$^$G(B<q>$B;X?K(B</q>$B$G$"$j!"(B
$B6/@)$9$k$b$N$G$O$"$j$^$;$s!#$^$?!"?75,$K:n@.$9$kJ8=q$@$1$,BP>]$G$9!#(B</p>

<p>$B$3$NJ8=q$O?o;~2~D{$9$k$3$H$,$"$j$^$9!#(B</p>
</div>

<div class="section" id="STYLESHEET">
<h2>$B%9%?%$%k!&%7!<%H$X$N%j%s%/(B</h2>

<p>$B%9%?%$%k!&%7!<%H$O(B <code class="HTMLe" lang="en" xml:lang="en">link</code>
$BMWAG$r;H$C$F%j%s%/$7$^$9!#(B</p>

<p>
$BFC$K%9%?%$%k!&%7!<%H$rMQ0U$7$F$$$k>l9g$O$=$N%9%?%$%k!&%7!<%H$r!"(B
<a href="/admin/">$B@>1;7W2h4IM}It(B</a>$B4XO"$NJ8=q$G$O@lMQ$N%9%?%$%k!&%7!<%H$r(B
(<a href="#FIG-STYLESHEET-ADMIN">$BNc(B</a>)$B!"$=$NB>$N>l9g$OHFMQ$N%9%?%$%k!&%7!<%H$r(B
(<a href="#FIG-STYLESHEET-STANDARD">$BNc(B</a>) $B;HMQ$7$^$9!#(B
</p>

<div class="fig example" id="FIG-STYLESHEET-STANDARD">
  <div class="caption">$BI8=`$N%9%?%$%k!&%7!<%H$r;H$&>l9g(B</div>
  <div class="figbody">
    <div class="non-para" lang="en" xml:lang="en"
	><code class="HTML">&lt;link rel="stylesheet" href="<a
	href="/www/style/html/xhtml">/www/style/html/xhtml</a
	>" media="all" /&gt;</code></div>
  </div>
</div>

<div class="fig example" id="FIG-STYLESHEET-ADMIN">
  <div class="caption">$B4IM}ItJ8=qMQ$N%9%?%$%k!&%7!<%H$r;H$&>l9g(B</div>
  <div class="figbody">
    <div class="non-para" lang="en" xml:lang="en"
	><code class="HTML">&lt;link rel="stylesheet" href="<a
	href="/admin/style/common">/admin/style/common</a
	>" media="all" /&gt;</code></div>
  </div>
</div>

</div><!-- section -->

<div class="section" id="LANG">
<h2>$B8@8l;XDj(B</h2>

<p><code class="HTMLe">html</code> $BMWAG$K$OJ8=qA4BN$N8@8l$r;XDj$7$^$9(B
(<a href="#FIG-LANG-HTML-JA">$BNc(B</a>)$B!#(B
$B$^$?!"J8=qCf$G8@8l$,JQ$o$k>l=j$G$O$=$NETEY;XDj$7$^$9!#(B
$BF|K\8l$N>l9g$O(B <code class="lang" lang="en" xml:lang="en">ja</code>,
$B1Q8l$N>l9g$O(B <code class="lang" lang="en" xml:lang="en">en</code>
$B$r(B <code class="HTMLa" lang="en" xml:lang="en">lang</code> $BB0@-$H(B
<code class="HTMLa" lang="en" xml:lang="en">xml:lang</code>
$BB0@-$NN>J}$K;XDj$7$^$9!#(B</p>

<div class="fig example" id="FIG-LANG-HTML-JA">
<div class="caption">$BF|K\8lJ8=q$N>l9g(B</div>

<div class="fig-body">
<div class="non-para"><code class="HTML"
lang="en" xml:lang="en">&lt;html xmlns="http://www.w3.org/1999/xhtml"
lang="ja" xml:lang="ja"&gt;</code></div>
</div>

</div>

</div><!-- section -->

<div class="footer">
<div class="navigation">
[<a href="/">/</a> <a href="/admin/">$B4IM}It(B</a>
<a href="/admin/web/" lang="en" xml:lang="en">Web</a>
<a>$B%^!<%/IU$1$N;X?K(B</a>]
</div>
<div class="update" lang="en" xml:lang="en">$Date: 2005/05/15 08:59:11 $</div>
</div>

</body>
</html>

