<html xmlns="http://www.w3.org/1999/xhtml"
    lang="ja" xml:lang="ja">
<head>
<title>HTML $BJ8=q$N?w7A(B ($B0lHL(B)</title>
<link rel="stylesheet" href="/www/style/html/xhtml" media="all" />
<style type="text/css" media="all">
pre {
  max-height: 25em;
}

#EDIT {
  position: fixed;
  right: 3em;
  top: 1em;
  bottom: 1em;
  overflow: auto;
  border: gray outset 1px;
  -moz-border-radius: 1em;
  color: InfoText;
  background-color: InfoBackground;
  -moz-binding: url(/www/style/ui/drag.xbl#simple-drag);
}
#EDIT.DRAGABLE {
  cursor: move;
}

#EDIT h2 {
  text-align: center;
}

input, select {
  width: 95%;
}
</style>
<script type="text/javascript">
function htescape (s) {
  s = s.replace (/&/, '&amp;').replace (/</, '&lt;')
       .replace (/>/, '&gt;').replace (/"/, '&quot;');
  return s;
}
</script>
</head>
<body>
<h1><abbr lang="en" xml:lang="en"
title="Hypertext Markup Language">HTML</abbr> $BJ8=q$N?w7A(B</h1>

<pre id="TEMPLATE">&lt;html xmlns="http://www.w3.org/1999/xhtml"
    lang="ja" xml:lang="ja"&gt;
&lt;head profile="http://suika.fam.cx/~wakaba/-temp/wiki/wiki?WikiHTMLMetaProfile"&gt;
  &lt;title&gt;<var id="TEMPLATE-TITLE">($BBjL>(B)</var>&lt;/title&gt;
  &lt;link rev="made" href="<var id="TEMPLATE-AUTHOR-URI"><samp>mailto:webmaster@suika.fam.cx</samp></var>" /&gt;
  &lt;meta name="author" content="<var id="TEMPLATE-AUTHOR-NAME">($BCx<TL>(B)</var>" /&gt;
  &lt;link rel="copyright" href="<var id="TEMPLATE-LICENSE">/c/pd</var>" /&gt;
  &lt;link rel="stylesheet" href="<var id="TEMPLATE-STYLE-1">/www/style/html/xhtml</var>" media="all" /&gt;
  &lt;link rel="stylesheet" href="<var id="TEMPLATE-STYLE-2">/www/style/ui/toc-after-abstract</var>" media="all" /&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;h1&gt;<var id="TEMPLATE-H1">($BBjL>(B)</var>&lt;/h1&gt;

&lt;div class="section" id="ABSTRACT"&gt;
&lt;h2&gt;$B35MW(B&lt;/h2&gt;

&lt;p&gt;$B$3$NJ8=q$O!"!&!&!&!#(B&lt;/p&gt;
&lt;/div&gt;&lt;!-- ABSTRACT --&gt;

&lt;h1&gt;<var id="TEMPLATE-H1">($BBjL>(B)</var>&lt;/h1&gt;

&lt;div class="section" id="INTRO"&gt;
&lt;h2&gt;$B$O$8$a$K(B&lt;/h2&gt;

&lt;p&gt;$B$3$NJ8=q$O!"!&!&!&!#(B&lt;/p&gt;
&lt;/div&gt;&lt;!-- INTRO --&gt;

&lt;div class="footer"&gt;
&lt;div class="navigation"&gt;
[&lt;a href="/"&gt;/&lt;/a&gt; &lt;a href="/search/" rel="search"&gt;$B8!:w(B&lt;/a&gt;]
&lt;/div&gt;
&lt;div class="update" lang="en" xml:lang="en"&gt;$Date: 2005/05/20 12:17:12 $&lt;/div&gt;
&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</pre>

<div class="section" id="EDIT">
<h2>$BJT=8(B</h2>

<div class="note memo">
<p>JavaScript $B$,;H$($kI,MW$,$"$j$^$9!#(B</p>
</div>

<dl>
<dt>$BJ8=q$NBjL>(B</dt>
	<dd><input type="text" size="60" onchange="
	  var el = [document.getElementById ('TEMPLATE-TITLE'),
	            document.getElementById ('TEMPLATE-H1')];
          for (var i = 0; i < el.length; i++) {
	    el[i].innerText = htescape (value);
	    el[i].textContent = htescape (value);
          }
	" /></dd>
<dt>$BJ8=q$NCx<T(B</dt>
	<dd><label>$BL>A0(B: <input type="text" size="60" onchange="
	  var el = document.getElementById ('TEMPLATE-AUTHOR-NAME');
	  el.innerText = htescape (value);
	  el.textContent = htescape (value);
	" name="author-name" /></label></dd>
	<dd><label>$BO"Mm@h(B: <input type="url" size="60" onchange="
	  var el = document.getElementById ('TEMPLATE-AUTHOR-URI');
	  el.innerText = htescape (value);
	  el.textContent = htescape (value);
	" value="mailto:webmaster@suika.fam.cx" /></label></dd>
<dt>$BJ8=q$N%i%$%;%s%9(B ($BCx:n8"Ey(B)</dt>
	<dd>
	<select onchange="
	  var el = document.getElementById ('TEMPLATE-LICENSE');
	  el.innerText = htescape (value);
	  el.textContent = htescape (value);
	">
	<option selected="selected"
	  value="https://suika.suikawiki.org/c/pd">Public Domain ($B8"MxJ|4~(B)</option>
	<option value="https://suika.suikawiki.org/c/gnu/fdl">GNU FDL
		 (GNU Free Documentation License) [$B:G?7HG(B]</option>
	<option value="https://suika.suikawiki.org/c/gnu/gpl">GNU GPL
		 (GNU General Public License) [$B:G?7HG(B]</option>
	<option
	  value="https://suika.suikawiki.org/~wakaba/archive/2004/8/18/license#Perl+MPL"
		>Perl / MPL / GPL / LGPL</option>
	<option value="https://suika.suikawiki.org/gate/2005/sw/Wiki/Page/License"
		>SuikaWiki WikiPage License [$B:G?7HG(B]</option>
	<option value="https://suika.suikawiki.org/okuchuu/c">$B!XEA@b$N$*$/$A$e!#!Y(B
		$B$K$"$kJ8=q$N8"MxEy$K$D$$$F(B [$B:G?7HG(B]</option>
	<option value="https://suika.suikawiki.org/~hero/about/contents"
		lang="en" xml:lang="en">Helo world</option>
	<option
	  value="https://suika.suikawiki.org/~hero/wiki/wiki?Wiki%2F%2FPage%2F%2FLicense"
		lang="en" xml:lang="en">Helo wiki</option>
	</select>
	</dd>
<dt>$B%9%?%$%k!&%7!<%H(B</dt>
	<dd>
	<select onchange="
	  var el = document.getElementById ('TEMPLATE-STYLE-1');
	  el.innerText = htescape (value);
	  el.textContent = htescape (value);
	">
	<option selected="selected"
	  value="/www/style/html/xhtml">$B0lHL(B</option>
	<option value="/admin/style/common">$B@>1;7W2h4IM}It(B</option>
	<option value="/okuchuu/style/simpledoc">$BEA@b$N$*$/$A$e!#(B</option>
	</select></dd>
</dl>

</div>


<div class="footer">
<div class="navigation">
[<a href="/">/</a> <a href="/search/" rel="search">$B8!:w(B</a>]
[<a href="/admin/">$B4IM}It(B</a> <a href="/admin/web/" lang="en"
xml:lang="en">Web</a> <a href="/admin/web/markup/">$B%^!<%/IU$1(B</a>
<a><abbr title="Hypertext Markup Language"
lang="en" xml:lang="en">HTML</abbr> $BJ8=q$N?w7A(B</a>]
</div>

<div class="update" lang="en" xml:lang="en">$Date: 2005/05/20 12:17:12 $</div>
</div>

</body>
</html>
