<?xml version="1.0" encoding="iso-2022-jp"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title xml:lang="en">The SUSUMU top-level domain</title>
<link rel="contents" href="./" />
<?xml-stylesheet href="/s/simpledoc"?>
<link rel="stylesheet" href="/s/simpledoc" />
<link rev="made" href="mailto:wakaba@suikawiki.org" />
<link rel="copyright" href="/c/pd" title="Public Domain." />
<meta name="author" content="$B<cMU(B" />
<meta name="keywords" content="susumu, tld, top level domain, gTLD" />
</head>
<body>
<h1 xml:lang="en">The SUSUMU top level domain (SUSUMU-TLD)</h1>

<h2>SUSUMU-TLD $BNNM-@k8@(B</h2>

<p>SUSUMU-TLD (.susumu $B$G=*$o$k%I%a%$%sL>6u4V(B) $B$NNNM-$r@k8@$7$^$9!#(B
SUSUMU-TLD $B$N4IM}$OEvJ,$N4V!"(B<a href="../">$B@>1;7W2h(B</a>$B$,9T$$$^$9!#(B</p>

<p>2001$BG/(B11$B7n(B4$BF|(B, 2002$BG/(B1$B7n(B25$BF|(B</p>

<h2>SUSUMU-TLD $BL>A02r7h(B</h2>

<p>DNS ($B%I%a%$%sL>%5!<%P!<(B) $B$K$h$k(B SUSUMU-TLD $B$NL>A02r7h(B
$B$O8=:_9T$C$F$$$^$;$s!#(B</p>

<h2>SUSUMU-TLD $BEPO?Jm(B</h2>

<p>susumu (susumu.susumu) $B$OM=Ls$5$l$F$$$^$9!#(B
suika (suika.susumu) $B$O@>1;%5!<%P!<$,;H$$$^$9!#(B
rooter (rooter.susumu), fiva (fiva.susumu) $B$O4{$K3d$jEv$F$i$l$F$$$^$9!#(B</p>

<p>$B?7$?$J%I%a%$%sL>$N3d$jEv$F$O!"(B <a href="mailto:admin+suika@suikawiki.org">admin+suika@suikawiki.org</a> $B$^$G?=@A$7$F2<$5$$!#(B</p>

<address>
[<a href="/" title="$B$3$N%5!<%P!<$N<sJG(B">/</a>
<a href="/map" title="$B$3$N%5!<%P!<$N0FFb(B">$BCO?^(B</a>
<a href="/search/" title="$B$3$N%5!<%P!<$N8!:w(B">$B8!:w(B</a>]
[<a href="../">$B@>1;7W2h4IM}It(B</a> <a href="./" rel="index">$BL>A0(B</a>]
</address>
<div class="update">2002-01-25
<a href="http://validator.w3.org/check/referer" xml:lang="en"><img
        src="http://www.w3.org/Icons/valid-xhtml11" id="w3c-html"
        alt="Valid XHTML 1.1!" style="height: 31px; width: 88px" /></a>
<a href="http://jigsaw.w3.org/css-validator/validator?uri=https://suika.suikawiki.org/admin/name/susumu.ja.html" xml:lang="en">
  <img style="width: 88px; height: 31px" id="w3c-css"
       src="http://jigsaw.w3.org/css-validator/images/vcss" 
       alt="Valid CSS!" /></a></div>
</body></html>
