<?xml version="1.0" encoding="iso-2022-jp"?>
<?xml-stylesheet href="/s/default/xhtml2.css" type="text/css" ?>
<html xmlns="http://www.w3.org/2002/06/xhtml2" xml:lang="ja">
<head>
<title>2003$BG/(B8$B7n(B15$BF|(B: Suika CVS $B%5!<%P!<(B WWW $B4XLg8x3+:F3+$N$*CN$i$;(B</title>
<link rev="made" href="mailto:admin+suika@suikawiki.org" />
<link rel="contents" href="../../" title="Suika CVS $B%5!<%P!<$N$40FFb(B" />
<link rel="up" href="../" title="2003$BG/$NJ8=q(B" />
</head>
<body>
<h>Suika CVS $B%5!<%P!<(B WWW $B4XLg8x3+:F3+$N$*CN$i$;(B</h>

<p><a href="/admin/">$B@>1;7W2h4IM}It(B</a>$B$O!"(B
$B$3$N$?$S(B <a href="/admin/cvs/">Suika CVS $B%5!<%P!<(B</a>$B$N(B
<a href="/gate/cvs/"><abbr>WWW</abbr> <ruby class="je"><rb>$B4XLg(B</rb><rt xml:lang="en">gateway</rt></ruby></a>$B$N1?MQ$r:F3+$7$^$7$?!#(B</p>
<p>$B$3$N4XLg$O!"(B
<a href="http://viewcvs.sourceforge.net/" xml:lang="en">ViewCVS</a>
$B$rMxMQ$7$F<B8=$7$F$*$j!"$=$NHG$b$3$l$r5!$K:G?7$N(B 0.9.2
$B$H$7$^$7$?!#(B</p>
<p>$B$J$*!"$3$N7o$K4X$9$k$*Ld$$9g$o$;$O!"(B
<a href="mailto:admin+suika@suikawiki.org">$B@>1;7W2h4IM}It(B CVS $B%5!<%P!<C4Ev$^$G%a%$%k$G$4O"Mm$$$?$@$/(B</a>$B$+!"(B
$BKt$O(B
<a href="/~wakaba/-temp/wiki/wiki?%C0%BE%B1%BBCVS%A5%B5%A1%BC%A5%D0%A1%BC" title="SuikaWiki:$B@>1;(BCVS$B%5!<%P!<(B">wiki $B$N3:EvJG(B</a>$B$K=q$-9~$s$G$$$?$@$-$^$9$h$&$*4j$$$$$?$7$^$9!#(B</p>
</body>
</html>
