<html lang="ja">
<head>
<title>$B@>1;7W2h?JD=>u67(B</title>
<meta name="robots" content="noindex, nofollow">
<style type="text/css">
@import 'http://person1.rocketbeach.com/~furoiran/default.css';

#date	{text-align: right; margin: 0 10%}

#title	{border: blue solid .5em; margin: 0 10%;
	text-align: center}
#title h1	{border-style: none; margin: 0;
	text-align: center}
#title h1.ja, #title h1:lang(ja)
	{border-bottom: 0.01em solid black;
	margin: 0 10%; font-size: 200%}
#title h1.en, #title h1:lang(en)
	{font-size: 100%}

#subtitle
	{margin: 0 10%; border-style: none;
	font-size: 100%; font-weight: normal}

li p, li ul	{margin: 0}
li p	{text-indent: 1em}

.norm	{color: black}
.new	{color: blue}
.obs	{color: gray}
ins, del	{text-decoration: none}
del	{display: none}
ins.2001-01-23, samp.ins	{text-decoration: underline; color: red}
del.2001-01-23, samp.del
	{text-decoration: line-through; color: red;
	display: inline}
</style>
<body>
<div id="date">
2001-01-23
</div>

<div id="title">
<h1 lang="ja" class="ja">$B@>1;7W2h(B</h1>
<h1 lang="en" class="en">The Watermelon Project</h1>
</div>

<h2 id="subtitle" lang="en">
Status Report
</h2>

<div id="read">
<h3>$BFI$_J}(B</h3>
<p><samp class="norm">$B9u?'(B</samp>$B$O?J9TCf(B, <samp class="new">$B@D?'(B</samp>$B$OL$Ce<j(B($BL$3NDjMWAG(B), <samp class="obs">$B3%?'(B</samp>$B$O:n6H40N;$r<($7$^$9!#(B
<p>$B:#2sDI2C!&:o=|J,$O@V?'$K$7$?>e$G(B<samp class="ins">$B2<@~(B</samp>$B!&(B<samp class="del">$B<h$j>C$7@~(B</samp>$B$r$D$1$F$$$^$9!#(B
</div>

<div id="pol">
<h3>$BL>>N5Z$SJ}?K(B</h3>

<ul>
	<li>$B7W2hL>>N(B
	<ul>
		<li>$B@5<0L>>N(B: $B@>1;7W2h(B
		<li>$BDL>N(B: $B$9$$$+(B
		<li>$B1QJ8L>>N(B: the Watermelon project
		<li class="new">$B%I%a%$%sL>(B
		<ul>
			<li>$B:GM-NO0F(B: suika.gl
			<ul>
				<li>
				<blockquote>
					<blockquote>
					<p>$BEPO?(B: kr. 995,-
					<p>$BJQ99(B: kr. 600,-
					</blockquote>
					<ins>
					<p>$B<cMUCm(B: kr$B$H$$$&$N$O(B Danish Krone$B$N$3$H$G$7$g$&$,!"$@$H$9$k$H(B2001-01-05$B$N%P%S%m%s$N>pJs$G$O!"EPO?(B14772.43$B1_JQ99(B8908$B1_$H$J$C$F$$$^$9!#(B
					</ins>
					<p>$B$@$=$&$G$9!#H>1J5W%I%a%$%s$J$N$G!"=i4|HqMQ$@$1$G$9$_$^$9!#G/HqMQ$O$"$j$^$;$s!#(B
				</blockquote>
				<li>$B?=@A(B
					<p class="norm">$B9q:](BFAX$BI,MW!#(B
				<li>$BAw6b(B
					<p>$BJ}K!ITL@(B...
				<li>$BEPO?FbMF(B
					<p class="norm">$BMxMQ<T=;=jEy$NB>!"L>A0%5!<%P!<(B(DNS) 2$B%v=j(B ($B%W%i%$%^%j!<(B, $B%;%+%s%@%j!<(B)$B$,I,MW!#(B
			</ul>
			<li class="norm">$B4A;z%I%a%$%sL>$K$D$$$F$O!"EvJ,9M$($J$$!#(B
		</ul>
	</ul>
	<li>$B4pK\J}?K(B: Internet$B$J%5!<%P!<;q8;$r6&F1$G4IM}!&1?1D!&MxMQ$9$k!#0];}HqG1=P$N$?$a!"MxMQ<T(B ($BITFCDjB??t$G$O$J$/!"=PMh$k$@$1?H6a$J?M$H$9$k!#(B) $B$rJg$k!#(B
</ul>
</div>

<div id="service">
<h3>Internet Service$B5Z$S(BServer Software</h3>

<ul>
	<li>Server software$B$O86B'$H$7$F(Bfree software$B$H$9$k!#C"$7$3$3$G(Bfree software$B$H$O(B<a href="http://www.fsf.org/">$B%U%j!<%=%U%H%&%'%"(B</a>$B:bCD$NDj5A$K$h$k!#(B($BL5NA$H8@$&0UL#$G$O$J$/!"<+M3$H8@$&0UL#$G$"$k!#(B)
	<li>Server$B$N(BOperating System
	<p>Unix$B7O!#(B
	<ul class="new">
		<li>Linux
			<ul>
			<li>RedHat Linux ($B1'DEH~$5$s(BCD$BJ]M-!#(B)
			<li>Kondara MNU/Linux ($B<cMU2?$H$J$/?dA&!#(B)
			<li>Debian ($B<cMU2?$H$J$/9%46$r3P$($k!#(B)
			</ul>
		<li>FreeBSD?
	</ul>
	<li lang="en">Web (http)
	<p><a href="http://www.apache.org/">Apache</a>$B!#(B
	<ul>
		<li>Web$B6u4V(B
		<p>Perl 5.6$B0J>e!#(B
		<p class="new">Ruby$B!#(B
		<li>$B7G<(HD(B
		<p>$B@>1;7W2h$G@):n!#(B
		<li lang="en">chat
		<p>$B$`(B*$B$9$r4p$K@>1;7W2h$G@):n!#(B
		<li lang="en" class="new">counter
		<p>$B@>1;7W2h$G@):n!#(B
		<li class="new">Web $BJ8=q@=:n(B&$BCV$->l=jDs6!(Bservice ?
	</ul>
	<li lang="en">FTP
	<p class="new">FTPD$B!#(BUnix$B7O(BOS$B$KImB0!#(B
	<ul>
		<li>$BAm9g4IM}MQ(B
		<li>Web$B6u4V4IM}MQ(B
	</ul>
	<li>$B%a%$%k(B
	<ul>
		<li>$BIaDL$N%a%$%k(B (SMTP/POP3)
		<p>Sendmail, qpoper$B!#(B
		<li>$B%a%$%kE>Aw%5!<%S%9(B
		<p>Sendmail$B$N5!G=$rMxMQ!#(B
		<li>$B%a%$%k!&%j%9%H(B
		<p>fml$B!#(B
		<li>Web mail
		<p>$B@>1;7W2h$G@):n!#(B
	</ul>
	<li class="new">News (NNTP)
	<p>INN ?
	<li>$BL>A0%5!<%S%9(B (DNS)
	<p>BIND$B!#(B
	<li>TELNET ($B4IM}MQ(B)
	<p class="new">telnetd$B!#(BOS$B$KImB0!#(B
	<li style="list-style: none">$B"(%5!<%P!<5Z$S$=$N4D6-$K$D$$$F(B
	<ul>
		<li class="new">$B8uJd(B1 $B$_$D$k$.$5$s(B
		<ul>
			<del class="2001-01-23"><li>Jupiter$B0J>e$N@-G=$NEE;R7W;;5!(B</del>
			<li>$B7n(B3000$B1_(B<ins class="2001-01-23"> + $B&A(B ($B8GDj(BIP address$B3NJ]HqMQ(B)</ins>
		</ul>
		<p>$B$rDs6!$G$-$k$3$H$,>r7o!#(B
		<li class="new">$B8uJd(B2 $B$&$D$_$5$s(B
		<ul>
			<li>$B$&$D$_$5$s$,9q8xN)9b9;9g3J(B
			<li>$B0];}Hq(B($B7n(B/$BG/(B<del class="2001-01-23">xxxx</del><ins class="2001-01-23">2000</ins>$B1_(B<ins class="2001-01-23">; $B>l9g$K$h$C$F$O!"(B500$B1_DxEY(B</ins>)
		</ul>
		<p>$B$,>r7o!#(B
		<li>$BJdB-(B
		<ul>
			<li>24$B;~4V@\B3>uBV(B
			<li>$B8GDj$7$?(BIP address
		</ul>
		<p>$B$,Ds6!$G$-$k$3$H$,!":GDc>r7o!#(B
</ul>
</div>

<div id="other">
<h3>$B$=$NB>(B</h3>
<ul>
	<li>$B:N;;(B
	<p>$B<};Y7W2h$K$D$$$F$O1'DEH~$5$s$N;qNA$r;2>H$N$3$H!#(B
	<ul>
	<li>$B:N;;$OBgJQ87$7$=$&$G$9!#:G=i$OIiC4$,Bg$-$$$3$H$r3P8g$N>e$G!";q6b8;$rA}6/$7$F$$$/J}?K$H$7$^$9!#(B
	<li>service$BMxMQNA6b$O%a%$%k$r=PMh$k$@$10B$/$7!"Fq$7(B($B$=$&$K8+$($k(B)$B$b$N$O9b$a$K@_Dj$9$k!#(B
	<li>$B=86b$OD>@\D'<}$H$9$k!#(B
</ul>
</div>


<del class="2001-01-23" title="assign$B$K0\F0!#(B">
<pre>
@ $B7W2h;22C<T5Z$S:n6HJ,C4(B
+    $B"(4IM}Ey$N:Y$+$JE@$K$D$$$F$O!"(Bassign($B;q8;3dEvI=(B)$B;2>H!#(B
     @ $B$U$8$$(B (project leader)
+        $B!|1D6HC4Ev(B
         $B!&;22C<T4+M6(B
-        $B!&:n6HJ,C4(B
!        $B!&>-Mh9=A[(B($BLQA[(B:-)
+        $B!&(BWeb$B4IM}<T(B($BM=Dj(B)
!    @ $B$&$D$_(B (CHIEF ENGINEER "TECHNICAL CHIEF")
+        $B!|2q7WC4Ev(B
         $B!&9b9;F~;n(B
-        $B!&:N;;7W2h(B
+        $B!&(BWeb mail system$B=`Hw(B
!    @ $B$*$s$]$s(B (CHIEF PLANNER)
-        $B!&%I%a%$%sL>A*9M(B
!    @ $B$_$D$k$.(B (SYSTEM ADMINISTRATOR)
+        $B!|5;=QC4Ev(B
+        $B!&LdBjE@;XE&(B!
!    @ $B$o$+$P(B (NUMBER ONE)
+        $B!|3dEvC4Ev(B
         $B!&(Bstatus report ($B$3$l(B) $B4IM}(B
+        $B!&(Bassgin ($B;q8;3dEvI=(B) $B4IM}(B
+        $B!&(Bserver software$BA*Dj(B
+        $B!&7G<(HD(B, chat system$B=`Hw(B
+        $B!&%a%$%k4IM}<T(B($BM=Dj(B)
+        $B!&%K%e!<%94IM}<T(B($BM=Dj(B)
</pre>
</del>
