<html lang="ja">
<head>
<title>$B@>1;7W2h$N>R2p$H;X?K(B</title>
<style type="text/css">
@import '../default.css';
h1	{border-style: none}
</style>
<meta name="keywords" lang="ja" content="$B@>1;7W2h(B" />
<meta name="keywords" lang="en" content="suika project" />
<meta name="author" content="$B<cMU(B" />
<meta name="copyright" content="Public Domain." />
</head>
<body>
<h1><img src="suika" style="width: 1em; height: 1em; vertical-align: bottom; margin-right: 0.2em" alt="$B@>1;(B" />$B@>1;7W2h$N>R2p$H;X?K(B</h1>
<p class="note">$BCm0U(B: $B$3$NJ8=q$O!"(B<a href="mailto:umekichi-ncc-1701-d@egroups.co.jp">$B@>1;7W2h=`Hw=8CD(B</a>$B$N7hDj;v9`$r85$K$7$F$$$^$9$,!"(B<a href="mailto:umekichi-ncc-1701-d@egroups.co.jp">$B@>1;7W2h=`Hw=8CD(B</a>$B$N@5<0$JJ8=q$G$O$"$j$^$;$s!#(B</p>

<h2>$BF3F~(B</h2>
<p>$B:G6a$G$O!"?'!9$J(BInternet$B$N(Bservice(or application)$B$,!"LLE]$J$3$HH4$-$KL5NA$GMxMQ=PMh$k$h$&$K$J$j$^$7$?!#(B
<p>$B$7$+$7!"$=$N$h$&$J$b$N$K$O!"4v$D$bITK~$,$"$j$^$9!#Nc$r5s$2$k$H!"<!$NDL$j$G$9!#(B
<ul>
<li>$B9-9p$,F~$k$3$H$,$"$k!#(B
<li>(Web$B$G(B) $BMxMQ$G$-$kNN0h$NBg$-$5$K@)8B$,$"$k!#(B
<li>CGI, SSI$B$J$I$N!"$A$g$C$H9bEY$J5;=Q$K<j$r=P$=$&$H$9$k$H!"@)8B$,$"$k!#(B
<li>($B%a%$%k!&%"%I%l%9$J$I(B) $B4v$D$G$bF~<j$G$-$k$N$O$$$$$1$I!"0l!9=;=j$J$I$N8D?M>pJs$rF~$l$J$$$H$$$1$J$$!#LLE]$@!#$"$N$o$1$NJ,$+$i$s%"%s%1!<%H$O2?$@(B?
<li>$B5;=QE*$KMDCU!#L\@h$NMx1W$7$+8+$F$$$J$$!#(BInternet$BI8=`$rL5;k$7$F$$$k!#(B
<li>$B$J$I$J$I(B...
</ul>
<p>$B$3$&$$$&$H$-$O$I$&$9$l$P$h$$$G$7$g$&$+(B?
<p>$BEz$($O!"<+J,C#$G(Bserver$B$rMQ0U$9$k$3$H$G$9!#$3$l$G!";q8;$O;H$$J|Bj!#(B
<p>$B$7$+$7!"8=;~E@$G$O$^$@!"(Bserver$B$rMQ0U$9$k$N$K$O8f6b$,3]$+$j$9$.$^$9!#5;=QE*IiC4$bBg$-$$$G$9!#(B
<p>$B$=$3$G!"$=!<9M$($F$$$??MC#$,!"7P:QE*!&5;=QE*IiC4$rJ,C4$9$k$3$H$K$7$^$7$?!#(B

<h2>$B$*$+$M(B</h2>
<p>$B$=$&$$$&$o$1$G!"7W2h;22C<T(B($B$D$^$j!"$*6bJ'$C$F$/$l$k?M!#(B)$B$rJg=8$7$F$$$^$9!#L5NA%5!<%S%9MpN)$NCf$G$9$,!"@>1;7W2h$O<+M3$rDI5a$7$F$$$-$^$9!#(B
<p>$BFs$D$NA*Br;h$,$"$j$^$9!#(B
<ol>
<li>$B$I$s$J;q8;$G$bMxMQ$G$-$k!#(B
<li>$BFCDj$N;q8;(B($B%a%$%k(B, Web, $B$J$I(B)$B$@$1MxMQ$9$k!#(B
</ol>
<p>$B!V:GBgB??t$N:GBg9,J!!W$N@:?@(B:-) $B$+$i(B(?)$B!"MxMQ<T$,A}$($l$P!"0l?M0l?M$NIiC4J,$O8:$j$^$9!#8=;~E@$G$N;n;;$G$O!"(B
<ol>
<li>$BA4It(B: $B7n(B500$B1_(B
<li>$B%a%$%k(B: $BG/(B800$B1_(B
<li>Web mail: $BG/(B700$B1_(B
<li>Web$B6u4V(B: $BH>G/(B1750$B1_(B ($BB/$K8@$&!V%[!<%`%Z!<%8!&%9%Z!<%9!W(B; CGI, SSI, $B%"%/%;%9@)8B2D!#(B)
<li>Web$B6u4V(B(CGI$B$J$I$J$7(B): $BH>G/(B1000$B1_(B
<li>$B%a%$%k!&%j%9%H(B: $BH>G/(B625$B1_(B ($B%a%$%j%s%0!&%j%9%H(B)
</ol>
<p>$B$J$I$H$J$C$F$$$^$9!#(B

<h2>$BMxMQ3+;O;~4|(B</h2>
<p>$B1?1D;q6b$N8+DL$7$,N)$C$?;~E@$G3+;O$7$^$9!#8=;~E@$G$O!"(B2001$BG/A0H>$K3+;O$G$-$k$b$N$H8+9~$^$l$F$$$^$9!#(B

<h2>$BO"Mm@h(B</h2>
<p>$B@>1;7W2h$K4X$9$k8fLd$$9g$o$;$O!"(B<a href="mailto:umekichi-ncc-1701-d@egroups.co.jp">$B=`Hw=8CD(B</a>$B$^$?$O(B<a href="mailto:utubi@sr.incl.ne.jp">$B1'DEH~(B</a>$B$5$s(B, <a href="mailto:shin11">$BF#0f(B</a>$B$5$s(B, <a href="mailto:wakaba">$B<cMU(B</a>$B$J$I$^$G8f4s$;2<$5$$!#(B
<p>$B>e5-$KL5$$(Bservice$B$G$b!"(BInternet$B$G=PMh$k$3$H$J$i!"$I$s$J$3$H$G$b$*$*$`$M<B8=$G$-$^$9!#(B

<address class="about">
<img src="suika" style="width: 32px; height: 32px; vertical-align: bottom" alt="$B@>1;(B" />$B@>1;7W2h(B
2001-01-27
</address>
</body></html>
