<html lang="ja">
<head>
<title>$B@>1;F|5-(B($BFf(B):2001.03.22</title>
</head>
<body>
<h1>$B@>1;F|5-(B($BFf(B):2001.03.22</h1>
<p>$B1'DEH~Bp$K$F!"(B Kondara install $B2q(B($BFf(B)$B$,@9Bg$K5s9T(B($BFf(B)$B$5$l$^$7$?!#(B</p>
<p>$B$,!"$=$l0JA0$N5!4o$NIT2D2r$J5sF0!"$H8@$&$+F0$+$J$$$N$K:$$j$^$7$?!#(B=$B<L??(B
<img src="P000001F.JPG" style="width: 320px; height: 240px" alt="$B@>1;%5!<%P!<(B($B2>(B)"><img src="P000000F.JPG" style="width: 320px; height: 240px" alt="$B@>1;%5!<%P!<(B($B2>(B)$B$r$$$8$k1'DEH~;a(B"></p>
<p>$B7k6I!"2?$H$+5!4o$=$N$b$N(B($B$H$$$&$+(BBIOS)$B$N2TF0$K$3$.$D$1$^$7$?$,!"8=:_(B Kondara $B$N(B install $B$NESCf$GDd;_(B($B$N$h$&$K8+$($k(B)$B>uBV$K$"$j$^$9(B:-):-)$B!#(B</p>
<p class="note">$BCp(B: $B2h<A$,0-$$$N$O8m$j$G$O$"$j$^$;$s(B:-)$B!#9b46EY%+%a%i$GLk4V;#1F$7$?$b$N$@$H;W$($P!"2L$F$7$J$/NI$$2h<A$K8+$($k$3$H$G$7$g$&(B:-):-)</p>
<p class="author">$B<cMU(B(17:00, $B<+Bp$K$F(B)$B!#(B</p>
</body>
</html>
