<?xml version="1.0" encoding="iso-2022-jp"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>$B@>1;$&$'$V%5!<%P!<(B (http://suika.fam.cx) $B$NMxMQ$K$D$$$F(B (CGI$B!&(BSSI$B!&(BPHP $B$J$I(B)</title>
<link rel="contents" href="./" />
<?xml-stylesheet href="/s/simpledoc"?>
<link rel="stylesheet" href="/s/simpledoc" />
<link rev="made" href="mailto:wakaba@suikawiki.org" />
<link rel="copyright" href="/c/pd" />
<meta name="author" content="$B<cMU(B" />
<meta name="keywords" content="$B@>1;(B, suika, $B$9$$$+(B, $B$&$'$V(B, $B%&%'%V(B, Web, HTTP, FTP, HTTPS, 80, 8080, CGI, SSI, Apache, .htaccess" />
</head>
<body>
<h1><a href="../"><img class="minilogo" src="../logo/suika" alt="$B@>1;7W2h(B" /></a> $B@>1;$&$'$V%5!<%P!<(B (http://suika.fam.cx) $B$NMxMQ$K$D$$$F(B (CGI$B!&(BSSI$B!&(BPHP $B$J$I(B)</h1>

<ol>
	<li><a href="#cgi">CGI</a></li>
	<li><a href="#perl">Perl</a></li>
	<li><a href="#ruby">Ruby</a></li>
	<li><a href="#python">Python</a></li>
	<li><a href="#php">PHP</a></li>
	<li><a href="#ssi">SSI</a></li>
</ol>

<h2 id="cgi">CGI (Common Gateway Interface)</h2>

<p>CGI/1.1 $B$,;H$($^$9(B($B?dDj(B)$B!#(B Perl 5.6, Ruby, Python $B$,;H$($^$9!#(B
($B:Y$+$$HG$O<+J,$GD4$Y$F2<$5$$(B:-) $B$=$NB>$N8@8l$J$I$r;H$$$?$$>l9g$O(B
<a href="mailto:webmaster@suika.fam.cx">$B4IM}<T$^$G8fAjCL(B</a>$B2<$5$$!#(B</p>

<p>suEXEC $B$O;H$C$F$$$^$;$s!#%U%!%$%k$N%Q!<%_%C%7%g%s$K$O(B
$B==J,8fCm0U2<$5$$!#(B</p>

<p>$B%5!<%P!<$KIi2Y$,$+$+$k$b$N$O8f1sN82<$5$$!#$F$+!"=hM}FbMF$r(B
$B$_$J$*$;$P7k9=Ii2Y$,8:$k$h$&$J$b$N$b$"$j$^$9!#(B
$B$5$9$,$K%A%c%C%H$H$+$OL5M}$+$b$7$l$^$;$s$1$I!"%A%c%C%H$J$i(B
$B$&$'$V$8$c$J$/$F(B <a href="../irc/">IRC</a> $B$H$+;H$$$^$7$g$&!#(B</p>

<p>$B$"$l$H$3$l$O6X;_$9$k$H$+$&$k$5$$$3$H$O8@$$$^$;$s$,!"(B
$B$=$&$$$&$b$N$r;H$$$?$$$N$J$i!"@'Hs$H$b%5!<%P!<@_Hw$NA}6/$K(B
$B8f6(NO2<$5$$(B:-)</p>

<h2 id="perl">Perl</h2>

<p>Perl $B$O(B 5.6 $B$,;H$($^$9!#:Y$+$$HG$O<+J,$GD4$Y$F2<$5$$!#(B
<code>/usr/bin/perl</code> $B$K$"$j$^$9$,!"(B <code>/usr/local/bin/perl</code>
$B$G$b;H$($^$9!#(B</p>

<p>jcode.pl, Jcode.pm $B$O4{$KMQ0U$5$l$F$$$k$N$G!"(B
<strong>$BI,MW$"$j$^$;$s(B</strong>$B!#$H$$$&$+!"F1$8J*$,$"$A$3$A$K$"$k$N$O(B
$B$+$($C$F5$;}$A0-$$$N$G!"$P$i;5$+$J$$$G2<$5$$(B!</p>

<p>$B$=$NB>$N%b%8%e!<%k$K$D$$$F$b!"(B
<a href="mailto:webmaster@suika.fam.cx">$B4IM}<T$^$G8fAjCL(B</a>$B$7$F(B
$B2<$5$$!#%b%8%e!<%kF~$l$k$N$K6bJ'$($J$s$F:>5=$_$?$$$J$3$H$O(B
$B8@$$$^$;$s$+$i(B($B>P(B)$B!#(B</p>

<p>$B$J$*!"(B mod_perl $B$O:#$N$H$3$m$D$+$($^$;$s!#(B</p>

<h2 id="ruby">Ruby</h2>

<p>/usr/local/bin/ruby $B$K$"$j$^$9!#(B mod_ruby $B$O;H$($^$;$s!#(B
CGI $B$G$*;H$$$/$@$5$$!#(B</p>

<h2 id="python">Python</h2>

<p>/usr/bin/python $B$K$"$j$^$9!#(B CGI $B$G$*;H$$2<$5$$!#(B</p>

<h2 id="php">PHP</h2>

<p>mod_php $B$G$9!#(B PHP4 $B$G$9!#:Y$+$$HG$O<+J,$GD4$Y$F$A$g!#(B
mulyibyte $B4X?t(B (mb_*) $B$OM-8z$K$J$C$F$$$^$9!#(B
$B$G$b%G%$%?%Y%$%9$N%=%U%H%&%'%"(B (MySQL $B$H$+(B) $B$,L5$$$+$i(B
$B$"$s$^$jLr$KN)$?$J$$$+$b!#C/$+F~$l$F$*$/$l!#(B</p>

<h2 id="ssi">SSI (Server Side Include)</h2>

<p>$B4{Dj$N>uBV$G$OL58z$K$J$C$F$$$^$9$,!"(B .htaccess $B$G;XDj$9$l$P(B
$B;H$($^$9!#$G$b$"$s$^%5!<%P!<$KIi2Y$+$1$s$G$/$l$h!#(B</p>

<address>
[<a href="/" title="$B$3$N%5!<%P!<$N<sJG(B">/</a>
<a href="/map" title="$B$3$N%5!<%P!<$N0FFb(B">$BCO?^(B</a>
<a href="/search/" title="$B$3$N%5!<%P!<$N8!:w(B">$B8!:w(B</a>]
[<a href="../">$B@>1;7W2h4IM}It(B</a> 
<a href="./" rel="index">$B$&$'$V%5!<%P!<(B</a>]
</address>
<div class="update">2001-12-28
<a href="http://validator.w3.org/check/referer" xml:lang="en"><img
        src="http://www.w3.org/Icons/valid-xhtml11" id="w3c-html"
        alt="Valid XHTML 1.1!" style="height: 31px; width: 88px" /></a>
<a href="http://jigsaw.w3.org/css-validator/validator?uri=https://suika.suikawiki.org/admin/web/index.ja.html" xml:lang="en">
  <img style="width: 88px; height: 31px" id="w3c-css"
       src="http://jigsaw.w3.org/css-validator/images/vcss" 
       alt="Valid CSS!" /></a></div>
</body></html>
