<html xmlns="http://www.w3.org/1999/xhtml"
    lang="ja" xml:lang="ja">
<head profile="http://suika.fam.cx/~wakaba/-temp/wiki/wiki?WikiHTMLMetaProfile">
  <title>$B@>1;%&%'%V;*(B &lt;http://suika.fam.cx/&gt; $B$K$D$$$F(B</title>
  <link rev="made" href="mailto:admin+suika@suikawiki.org" />
  <meta name="author" content="$B@>1;7W2h%&%'%VItLg(B" />
  <link rel="copyright" href="/c/pd" />
  <link rel="stylesheet" href="/admin/style/common" media="all" />
</head>
<body>
<h1>$B@>1;%&%'%V;*(B <code class="URI" lang="en" xml:lang="en"
>&lt;http://suika.fam.cx/&gt;</code> $B$K$D$$$F(B</h1>

<ul>
        <li><a href="announce/">$B@>1;(B Web $B%5!<%P!<$+$i$N$*CN$i$;(B</a></li>
	<li><a href="unei">$B@>1;(B Web $B%5!<%P!<1?1D5,B'(B</a></li>
	<li><a href="new-resource">$B@>1;(B Web $B%5!<%P!<$X$N?7$7$$NN0h$NJ,>y?=@A(B</a
	></li>
	<li><a href="cgi">CGI, SSI, PHP $B$J$I(B</a></li>
	<li><a href="memo">$B1?MQ%a%b(B</a></li>
	<li><a href="markup/template-general"><span lang="en" xml:lang="en"
	>Web $BJG(B</span>$B:n@.;~$N?w7A(B</a></li>
</ul>

<div class="section" id="CONTACT">
<h2>$BO"Mm@h(B</h2>

<dl>
<dt>$BEE;R%a%$%k(B</dt>
	<dd><code class="mail">&lt;<a href="mailto:admin+suika@suikawiki.org"
	><!--webmaster@suika.fam.cx-->admin+suika@suikawiki.org</a>&gt;</code></dd>
</dl>
</div><!-- CONTACT -->

<div class="footer">
<div class="navigation">
[<a href="/">/</a> <a href="/search/" rel="search">$B8!:w(B</a>]
[<a href="/admin/">$B4IM}It(B</a> <a>$B%&%'%V(B</a>]
</div>
<div class="update" lang="en" xml:lang="en">$Date: 2006/03/04 06:47:49 $</div>
</div>
</body>
</html>

