<?xml version="1.0" encoding="ISO-2022-JP"?>
<?xml-stylesheet href="/www/style/html/xhtml" media="all"?>
<!DOCTYPE html [<!ATTLIST section id ID #IMPLIED>]>
<html xmlns="http://www.w3.org/2002/06/xhtml2/"
      xml:lang="ja">
<head>
<title>Suika Web $B;*1?MQ%a%b(B</title>
<link rel="contents" href="./" title="Suika Web $B;*(B"/>
<link rel="contents" href="../memo" title="Suika $B;*1?MQ%a%b(B" />
<link rev="made" href="mailto:webmaster@suika.fam.cx"/>
</head>
<body>
<h>Suika <span xml:lang="en">Web</span> $B;*1?MQ%a%b(B</h>

<p>$BHwK:O?$G$9!#(B</p>

<section id="APACHE">
<h><span xml:lang="en">Apache</span> $B$N99?7(B (<kbd xml:lang="en">apt-get</kbd> 
$B$N>l9g(B)</h>

<ol>
<li><kbd xml:lang="en">apt-get</kbd> $B$G(B Apache $B$r99?7(B</li>
<li><code class="file" xml:lang="en">/usr/sbin/suexec</code>
$B$r(B <code>4711</code> (<code xml:lang="en">u+s</code>) $B$K(B</li>
<li><span xml:lang="en" href="http://httpd.apache.org/">Apache</span> $B$r:F5/F0(B 
(<kbd xml:lang="en">/etc/rc.d/init.d/httpd restart</kbd>)</li>
<li><code class="file" xml:lang="en">/home/httpd/home/</code>
$B$N(B <code class="file" xml:lang="en">index.html.<var>*</var></code>
$B$J$I$O:o=|(B (<code xml:lang="en">root</code> $B8"8BI,MW(B)</li>
</ol>
</section>

<section id="TLS">
<h><span xml:lang="en"><abbr>HTTP</abbr> over <abbr>TLS</abbr></span> 
$B$K$D$$$F(B</h>

<ul>
<li>$B30ItE*$K$O8x3+$7$F$$$J$$$,!"$9$0$K$G$b;H$($k>uBV(B
(<code>443</code>)$B!#(B</li>
<li>$B8=:_;H$C$F$$$k>ZL@=q$O85$+$iMQ0U$5$l$F$$$?2>$N$b$N!#(B</li>
<li>$B;H$$$?$$;~$O4IM}<T$^$GO"Mm$5$l$?$7!#(B</li>
<li><abbr xml:lang="en">HTTP</abbr> $BL>A06u4V$H(B 
<span xml:lang="en"><abbr>HTTP</abbr> over <abbr>SSL</abbr></span> $BL>A06u4V(B 
($B%U%!%$%k$H$NBP1~$J$I(B) $B$OF1$8!#(B</li>
</ul>
</section>

<section id="SUEXEC">
<h><span xml:lang="en">suEXEC</span> $B$,M-8z$J%G%#%l%/%H%j(B</h>

<ul xml:lang="en">
<li><code class="file">/home/httpd/html/</code></li>
<li><code class="file">/home/<var>user</var>/public_html/</code></li>
</ul>
</section>

<section id="CVSSRC">
<h><span xml:lang="en">Web</span> $B8x3+%U%!%$%k$NBP1~(B 
<span xml:lang="en">CVS Repository</span>
$B$H<+F0@8@.%U%!%$%k(B</h>

<dl>
<di>
<dt><code class="uri" href="/">/</code></dt>
	<dd><code>:ext:suika.fam.cx:/home/cvs</code>
	<code class="file" xml:lang="en">webroot/</code></dd>
</di>
<di>
<dt><code class="uri" href="/chuubu/tool/kanzan">/chuubu/tool/kanzan</code></dt>
        <dd><code>:ext:suika.fam.cx:/home/cvs</code>
        <code class="file">perl/kanzan/</code></dd>
</di>
<di>
<dt><code class="uri" href="/search/namazu">/search/namazu</code></dt>
        <dd><a href="http://www.namazu.org/">Namazu</a>
	$B$NG[I[$+$i(B <code class="file">namazu.cgi</code></dd>
</di>
<di>
<dt><code class="uri"><a href="/search/2004/www/">/search/2004/www/</a>.index/</code></dt>
        <dd>$BI,MW$J(B <a href="http://www.namazu.org/">Namazu</a>
	$B$N:w0z$rMQ0U(B</dd>
</di>
<di>
<dt><code class="uri" href="/~wakaba/tool/">/~wakaba/tool/</code></dt>
        <dd><kbd xml:lang="en">make all</kbd></dd>
</di>
<di>
<dt><code class="uri" href="/www/">/www/</code></dt>
	<dd><kbd xml:lang="en">make all</kbd></dd>
</di>
<di>
<dt><code class="uri" href="/www/2004/errata/">/www/2004/errata/</code></dt>
        <dd>$B%"%s%F%J(B ($B99?7MQ%G!<%?$O(B 
	<code>:ext:suika.fam.cx:/wakaba/pub/cvs</code>
        <code class="file">2004/antenna/errata/</code>)</dd>
</di>
<di>
<dt><code class="uri" href="/www/2004/reg/">/www/2004/reg/</code></dt>
        <dd>$B%"%s%F%J(B ($B99?7MQ%G!<%?$O(B 
	<code>:ext:suika.fam.cx:/wakaba/pub/cvs</code>
        <code class="file">2004/antenna/reg/</code>)</dd>
</di>
<di>
<dt><code class="uri" href="/www/2005/">/www/2005/</code></dt>
        <dd><code>:ext:suika.fam.cx:/home/cvs</code>
        <code class="file">www/2005/</code></dd>
</di>
<di>
<dt><code class="uri" href="/www/2006/">/www/2006/</code></dt>
	<dd><kbd>make all</kbd></dd>
</di>
<di>
<dt><code class="uri" href="/www/charclass">/perl/charclass/</code></dt>
    <dd><code>:ext:suika.fam.cx:/home/cvs</code>
    <code class="file">perl/charclass/</code></dd>
</di>
<di>
<dt><code class="uri" href="/www/markup/">/www/markup/</code></dt>
        <dd><code>:ext:suika.fam.cx:/home/cvs</code>
        <code class="file">markup/</code></dd>
	<dd><nl>
	<label>$B<+F0@8@.(B</label>
	<li><kbd>make all</kbd></li>
        <li><code class="file">html/dtd/</code>
                (<kbd>make all</kbd>)</li>
        <li><code class="file">html/dtd/module/</code>
                (<kbd>make all</kbd>)</li>
        <li><code class="file">slide/schema/</code>
                (<kbd>make all</kbd>)</li>
        <li><code class="file">slide/schema/module/</code>
                (<kbd>make all</kbd>)</li>
	</nl>
	</dd>
</di>
<di>
<dt><code class="uri" href="/www/mozilla/">/www/mozilla/</code></dt>
	<dd><code xml:lang="en">:ext:suika.fam.cx:/home/cvs</code>
        <code class="file" xml:lang="en">www/mozilla/</code></dd>
	<dd>
	<nl>
	<label><span xml:lang="en">Symbolic link</span></label>
	<li><code class="file" xml:lang="en">2004/link/release/linktoolbar-ja.xpi</code>
		($B"*(B <code class="file" xml:lang="en">linktoolbar-ja-<var xml:lang="ja">$B:G?7HG(B</var>.xpi</code>)</li>
        <li><code class="file" xml:lang="en">livehttpheaders/release/livehttpheaders-ja.xpi</code>
                ($B"*(B <code class="file" xml:lang="en">livehttpheaders-ja-<var xml:lang="ja">$B:G?7HG(B</var>.xpi</code>)</li>
	</nl>
	</dd>
</di>
<di>
<dt><code class="uri">~<var xml:lang="en">user</var></code></dt>
</di>
<di xml:id="CVSSRC-wakaba-archive2-2006-ist">
<dt><code class="uri"
href="/~wakaba/archive2/2006/ist/">/~wakaba/archive2/2006/ist/</code></dt>
	<dd><code>wakaba-private-ist</code></dd>
</di>
</dl>

<h3:note xmlns:h3="urn:x-suika-fam-cx:markup:ietf:html:3:draft:00:">
<p>$BH4$1$,$"$k$+$b!#0\9T;~$O(B <code>ls -R | diff -u</code>
$B$J$I$G3NG'$9$k$Y$7!#(B</p>
</h3:note>
</section>

<div id="footer" class="footer">
<div class="update">$Date: 2007/08/14 07:15:14 $</div>
</div>
</body>
</html>
