<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
<head>
<title>$B@>1;(B Web $B%5!<%P!<$X$N?7$7$$NN0h$NJ,>y?=@A(B</title>
<link rev="made" href="mailto:admin+suika@suikawiki.org" />
<link rel="contents" href="./" title="$B@>1;7W2h4IM}It(B : Web $B%5!<%P!<(B" />
<link rel="stylesheet" href="/admin/style/common.css" type="text/css" media="all" />
</head>

<body>
<h1>$B@>1;(B Web $B%5!<%P!<$X$N?7$7$$NN0h$NJ,>y?=@A(B</h1>

<p>$B@>1;(B Web $B%5!<%P!<$N0lIt$NNN0h(B
($BNc$($P!"(B <abbr xml:lang="en">URI</abbr> $B$,(B
<samp class="uri">https://suika.suikawiki.org/admin/web/</samp>
$B$G;O$^$k;q8;72(B) $B$N4IM}<T$H$J$k$H!"$=$NNN0h$N(B URI
$B$N4IM}8"$,(B<a href="unei#s3s1">$B0Q>y(B</a>$B$5$l$^$9!#(B 
($B$b$A$m$s!"E,Ev$JHO0OFb$G%O!<%I!&%G%#%9%/$NNN0h$bMxMQ2DG=$H$J$j$^$9!#(B)
$B$3$N?=@A$O!"@>1;%5!<%P!<$NMxMQ<T$J$i$I$J$?$G$b9T$($^$9!#(B</p>

<p>$B$3$N<jB3$-$O!"(B <a href="unei">Web $B%5!<%P!<1?MQ5,Dj(B</a>$B$NBh(B4$B>O$GDj$a$i$l$F$$$^$9!#(B
$B4JC1$N$?$a$K!"<!$NAw?.Ms$rMxMQ$9$k$3$H$b=PMh$^$9!#(B</p>

<form action="mailto:admin+suika@suikawiki.org" method="post"
      accept-charset="iso-2022-jp, utf-8"
      enctype="text/plain">
<dl>
<dt>$B?=@A<T$NL>A0(B</dt>
	<dd><input type="text" size="20" name="name" /></dd>
<dt>$B?=@A<T$N@>1;%5!<%P!<$N%"%+%&%s%H(B</dt>
	<dd><input type="text" size="20" name="user" /></dd>
	<dd><label><input type="checkbox" name="nouser" />$B;}$C$F$$$J$$(B</label></dd>
<dt>$B?=@A<T$NO"Mm@h(B ($B%$%s%?!<%M%C%H$N%a%$%k!&%"%I%l%9$r?d>)(B)</dt>
	<dd><input type="text" size="20" name="mail" /></dd>
<dt>$B?=@A$9$kNN0hL>(B</dt>
	<dd>&lt;https://suika.suikawiki.org/<input type="text" size="10" name="uri" />/&gt;</dd>
	<dd>$B;HMQ$G$-$kJ8;z$O!"1Q?t;z(B (62$B<oN`(B) $B$H(B <samp>-</samp> $B$G$9!#(B</dd>
<dt>$B?=@ANN0h$N;HMQMQES(B</dt>
	<dd><textarea rows="5" cols="20" name="usage"></textarea></dd>
<dt>$B?=@ANN0h$NFbMF$K$D$$$F$N@bL@J8(B</dt>
	<dd><textarea rows="5" cols="20" name="desc"></textarea></dd>
<dt><a href="/map">$BCO?^(B</a>$B$X$N7G:\(B</dt>
	<dd><label><input type="checkbox" name="map" checked="checked" />
	$B9T$&(B</label></dd>
<dt><input type="submit" value="$BAw?.(B" /></dt>
</dl>
</form>

<h2>$B5-F~Nc(B</h2>

<dl>
<dt>$B?=@A<T$NL>A0(B</dt>
        <dd>$B@>1;7W2h4IM}It(B</dd>
<dt>$B?=@A<T$N@>1;%5!<%P!<$N%"%+%&%s%H(B</dt>
	<dd>root</dd>
<dt>$B?=@A<T$NO"Mm@h(B ($B%$%s%?!<%M%C%H$N%a%$%k!&%"%I%l%9$r?d>)(B)</dt>
        <dd>admin+suika@suikawiki.org</dd>
<dt>$B?=@A$9$kNN0hL>(B</dt>
        <dd>&lt;https://suika.suikawiki.org/admin/&gt;</dd>
<dt>$B?=@ANN0h$N;HMQMQES(B</dt>
        <dd>$B@>1;7W2h$N4IM}$K4X$o$k;v9`$N9pCN5Z$S5-O?(B</dd>
<dt>$B?=@ANN0h$NFbMF$K$D$$$F$N@bL@J8(B</dt>
        <dd>$B@>1;7W2h4IM}It$O!"@>1;%5!<%P!<$N4IM}6HL3$r9T$C$F$$$^$9!#(B
	$B$=$NFbMF$d4IM}It$+$i$N$*CN$i$;$J$I$r$4Mw$K$J$k$3$H$,$G$-$^$9!#(B</dd>
<dt><a href="/map">$BCO?^(B</a>$B$X$N7G:\(B</dt>
	<dd>$B9T$&(B</dd>
</dl>

</body>
</html>
