<?xml version="1.0" encoding="iso-2022-jp"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>$B@>1;(B Web $B%5!<%P!<$N1?MQ$K4X$9$k5,Dj(B</title>
<link rel="contents" href="./" />
<?xml-stylesheet href="/s/simpledoc"?>
<link rel="stylesheet" href="/s/simpledoc" />
<link rev="made" href="mailto:admin+suika@suikawiki.org" />
<link rel="copyright" href="/c/pd" />
<meta name="author" content="$B@>1;7W2h(B, $B<cMU(B" />
<style type="text/css">
.header	{text-align: right}
</style>
</head>
<body>
<div class="header">$B@>1;7W2h(B<a href="../">$B4IM}It(B</a> n0018</div>
<div class="header">2002$BG/(B3$B7n(B1$BF|(B</div>

<h1>$B@>1;(B Web $B%5!<%P!<$N1?MQ$K4X$9$k5,Dj(B</h1>

<h2 id="s1">1 $B@>1;(B Web $B%5!<%P!<(B</h2>

<dl>
<dt id="s1s1">1.1</dt>
	<dd><p>$B$3$N5,Dj$O!"@>1;7W2h$N1?1D$K4X$9$k5,Dj(B ($BAmB'(B)$B$K4p$E$-!"(B
	<a href="/">$B@>1;%5!<%P!<(B (suika.fam.cx) $B$N(B 
	Web service (HTTP $B$K$h$k!#(B)</a>
	($B0J2<!"@>1;(B Web $B%5!<%P!<$H8@$&!#(B) 
	$B$N1?1D$K$D$$$FDj$a$k$b$N$G$"$k!#(B </p></dd>
</dl>

<h2 id="s2">2 $B4IM}It$H(B Web $B4IM}<T(B</h2>

<dl>
<dt id="s2s1">2.1</dt>
	<dd><p>$B4IM}It$N%a%s%P!<$N$&$A(B 1 $BL>$r(B Web $B4IM}<T$H$9$k!#(B
	Web $B4IM}<T$O!"(B $BFC$K@>1;(B Web $B%5!<%P!<$N4IM}$K$"$?$k!#(B</p>
	
	<p>$B;29M(B $B$3$l$O!"(B Web $B4IM}<T0J30$N4IM}It$N%a%s%P!<$,(B
           $B@>1;(B Web $B%5!<%P!<$N4IM}3hF0$r9T$&$3$H$r(B
           $B@)8B$9$k$b$N$G$O$J$$!#(B</p>
        </dd>

<dt id="s2s2">2.2</dt>
	<dd><p>Web $B4IM}<T$O!"I,MW$K1~$8$F$=$N8"8B$r4IM}It$N9=@.0w$K(B
	$B0QG$$9$k$3$H$,=PMh$k!#(B</p></dd>
</dl>

<h2 id="s3">3 $BNN0h$NJ,>y(B</h2>

<dl>
<dt id="s3s1">3.1</dt>
	<dd><p>Web $B4IM}<T$O!"@>1;(B Web $B%5!<%P!<$NFb$NFCDj$NNN0h$r!"(B
	$B@>1;$N9=@.0w$KMxMQ$rG'$a$k$3$H$,=PMh$k(B 
	($B$3$l$rNN0h$NJ,>y$H8@$&(B)$B!#(B</p>
	
	<p>$BHw9M(B Web $B4IM}<T$N5v2D$J$/$7$F!"@>1;(B Web $B%5!<%P!<$N(B
           $BNN0h$r;HMQ$7$F$O$J$i$J$$!#(B</p>
        </dd>

<dt id="s3s2">3.2</dt>
	<dd><p>$BNN0h$NJ,>y$r<u$1$?<T(B ($BNN0h4IM}?M$H8@$&!#(B) $B$O!"(B
	$B$=$NNN0h$K$"$k0l@Z$N;q8;$K$D$$$F$N@UG$$rIi$&!#(B</p></dd>

<dt id="s3s3">3.3</dt>
	<dd><p>Web $B4IM}<T$O!"NN0h4IM}?M$,$=$NJ,>y$5$l$?NN0h$r(B
	$BITE,@Z$KMxMQ$7!"2~A1$N0U;W$,L5$$$HH=CG$9$k>l9g!"(B
	$BNN0h$NJ,>y$rE12s$9$k$3$H$,$G$-$k!#(B</p></dd>

<dt id="s3s4">3.4</dt>
	<dd><p>Web $B4IM}<T$O!"NN0h$NITB-$J$I$N5;=QE*$K$d$`$rF@$J$$(B
	$B;v>p$,$"$k>l9g!"0lC6J,>y$7$?NN0h$N0lIt$rJVG<$5$;$k$3$H$,(B
	$B=PMh$k!#(B</p>
</dl>

<h2 id="s4">4 $BNN0hJ,>y<jB3(B</h2>

<dl>
<dt id="s4s1">4.1</dt>
	<dd><p>$BNN0h$NJ,>y$r9T$&>l9g!"<!$N<j=g$r$H$k!#(B</p>
	
	<ol>
	<li><p>$B?=@A<T(B ($BNN0h4IM}?M$H$J$k<T!#(B) $B$,!":GDc8B<!$N;v9`$r(B
        $B5-$7$??=@A=q$r(B Web $B4IM}<T$KDs=P$9$k!#(B</p>
	
	<p>$B;29M(B Web $B4IM}<T$K$O!"(B Internet $B$NEE;R%a%$%k$G(B
	&lt;<a href="mailto:webmaster@suika.fam.cx">webmaster@suika.fam.cx</a>&gt; 
	$B$K$h$jO"Mm$r$H$k$3$H$,$G$-$k!#(B</p>
	
	<ol>
	<li>$B?=@A<T$NL>A0(B</li>
	<li>$B?=@A<T$NO"Mm@h(B</li>
	<li>$B?=@A$9$kNN0hL>(B</li>
	<li>$B?=@ANN0h$N;HMQMQES(B</li>
	<li>$B?=@ANN0h$NFbMF$K$D$$$F$N@bL@J8(B</li>
	</ol>
	</li>
	
	<li>Web $B4IM}<T$O!"?=@A=q$r<u$1<h$C$F$+$i(B 1 $B=54V0JFb$K!"(B
	$B<uM}$9$k$+$I$&$+$r7hDj$7!"?=@A<T5Z$S4IM}It$KJs9p$9$k!#(B</li>
	
	<li>Web $B4IM}<T$O!"A09`$NJs9p$r9T$C$F$+$i(B 1 $B=54V7P2a$9$kA0$K!"(B
	$B?=@A<T$,<B:]$K;HMQ$G$-$k4D6-$r@0Hw$7!"NN0h$rJ,>y$9$k!#(B</li>
	</ol>
	</dd>

<dt id="s4s2">4.2</dt>
	<dd><p>$BJ,>y$5$l$?NN0h$rJVG<$9$k>l9g!"NN0h4IM}?M$O(B Web $B4IM}<T$K(B
	$B$=$N;]$rEA$(!"JVG<=hM}$K$D$$$F$N;X<($r<u$1$k!#(B</p></dd>
</dl>

<h2 id="s5">5 $B6[5^4IM}9TF0(B</h2>

<dl>
<dt id="s5s1">5.1</dt>
	<dd><p>Web $B4IM}<T$O!"I,MW$,$"$k$HG'$a$?>l9g!"J,>yNN0h$NJ,>yDd;_(B
	$B$dJ,>yNN0hFb$NA`:n$r4^$a$?@>1;(B Web $B%5!<%P!<$K$D$$$F$N(B
	$B6[5^4IM}9TF0$r9T$&$3$H$,=PMh$k!#(B</p></dd>

<dt id="s5s2">5.2</dt>
	<dd></p>$BA09`$K4p$E$/6[5^4IM}9TF0$r9T$C$?>l9g!"D>$A$K4IM}It5Z$S!"(B
	$BJ,>yNN0h$K4X$o$k4IM}9TF0$G$"$k>l9g$O$=$NNN0h4IM}?M$K(B
	$BDLCN$7$J$1$l$P$J$i$J$$!#(B</p></dd>
</dl>

<h2>6 $B5;=QE*@)Ls(B</h2>

<dl>
<dt id="s6s1">6.1</dt>
	<dd><p>$B@>1;(B Web $B%5!<%P!<$N;HMQ<T$O!"<!$KDj$a$k5;=QE*$=$NB>$N@)Ls$N(B
	$BHO0OFb$G@>1;(B Web $B%5!<%P!<$r;HMQ$7$J$1$l$P$J$i$J$$!#(B</p>
	
	<ol>
	<li>$BNN0h4IM}?M$O!"(B
	$B$=$NJ,>y$5$l$?NN0h$N30It$r;HMQ$7$F$O$J$i$J$$!#(B</li>
	<li>$BNN0h4IM}?M$O!"@>1;(B Web $B%5!<%P!<$K2a>j$JIiC4$,$+$+$k(B
	$B;q8;$rCV$$$F$O$J$i$J$$!#(B
	<p>$BNc(B $B@>1;(B Web $B%5!<%P!<$KIQHK$K@\B3$9$k%2!<%`(B, $B%A%c%C%H(B</p>
	<p>$BHw9M(B $B%2!<%`$d%A%c%C%H$r;HMQ$9$k$K$O!"$"$i$+$8$a(B Web
	$B4IM}<T$N5v2D$,I,MW$G$"$k!#(B (<a href="#s6s2">6.2</a> $B;2>H(B)</p></li>
	<li>$BNN0h4IM}?M$O!"@>1;(B Web $B%5!<%P!<$K<:$o$l$F$O$J$i$J$$(B
	$B5.=E$J;q8;$rCV$$$F$O$J$i$J$$!#(B</li>
	<li>LZW $B05=LK!$rMQ$$$?;q8;$r@>1;(B Web $B%5!<%P!<Fb$KCV$$$F$O(B
	$B$J$i$J$$!#(B
	<p>$BHw9M(B LZW $B05=LK!$rMQ$$$?;q8;$K$O2hA|7A<0(B GIF $B$r4^$`$,!"(B
	$B$3$l$K8B$i$J$$!#(B</p>
	<p>$B;29M(B LZW $B05=LK!$K4X$o$kFC5v$NJ]M-<T$O!"(B
	$B$=$N<+M3$J;HMQ$rG'$a$F$$$J$$!#(B</p>
	</li>
	<li>$B$=$NB>!"NN0h4IM}?M$O!"(B Web $B4IM}<T5Z$S4IM}It$N5;=QE*;XF3$K(B
	$B=>$o$J$1$l$P$J$i$J$$!#(B</li>
	</ol>
	</dd>

<dt id="s6s2">6.2</dt>
	<dd><p>CGI, SSI, PHP $B$J$I$rMxMQ$7!"%5!<%P!<$GB?$/$N=hM}$r(B
	$B9T$&;q8;(B ($BNc(B $B%2!<%`(B, $B%A%c%C%H(B) $B$rCV$/>l9g$O!"$"$i$+$8$a(B
	Web $B4IM}<T$N5v2D$r<u$1$J$1$l$P$J$i$J$$!#(B</p></dd>

<dt id="s6s3">6.3</dt>
	<dd><p><a href="#s6s1">6.1</a> 
	$B$K5s$2$?5;=QE*$=$NB>$N@)Ls$KH?$7$?>l9g!"(B
	Web $B4IM}<T$O;vA0$NDL9pL5$/Ev3:NN0h$^$?$O;q8;$r(B
	$B=$@5!&:o=|$9$k$3$H$,$G$-$k!#(B</p></dd>
</dl>

<h2>7 $BLH@U(B</h2>

<dl>
<dt id="s7s1">7.1</dt>
	<dd><p>$B4IM}It$O!"@>1;(B Web $B%5!<%P!<$N0BDj1?MQ$N$?$a$NJ]<i!&(B
	$BE@8!Ey$r9T$&$,!"$3$l$rJ]>Z$9$k$b$N$G$O$J$$!#(B</p></dd>

<dt id="s7s2">7.2</dt>
	<dd><p>Web $B4IM}?M$O!"@>1;(B Web $B%5!<%P!<$rE@8!Ey$N$?$a$KDd;_$9$k(B
	$B>l9g$K$O!"3FNN0h4IM}?M$K$"$i$+$8$aO"Mm$9$k!#$?$@$7!"(B
	$B6[5^$N>l9g$J$I$K$*$$$F$O$3$N8B$j$G$O$J$$!#(B</p>
	
	<p>$BHw9M(B Web $B%5!<%P!<$K8B$i$:@>1;(B Web $B%5!<%P!<$rDd;_$5$;$k(B
	$B>l9g$K$*$$$F$O!"(B Web $B4IM}?M$OO"Mm$7$J$$!#(B</p>
	</dd>
</dl>

<h2 id="s8">8 $BIUB'(B</h2>

<dl>
<dt id="s8s1">8.1</dt>
	<dd><p>$B$3$N1?MQ5,B'$K5,Dj$7$J$$;vJA$K$D$$$F$O!"(B 
	Web $B4IM}?M$*$h$S4IM}It$NH=CG$K$h$k!#(B</p></dd>

<dt id="s8s2">8.2</dt>
	<dd><p>$B$3$N1?MQ5,B'$N2~Dj$O!"4IM}It$N9g0U$K$h$k!#(B
	$B$^$?!"?75,B'$N;\9T$N(B 1 $B%v7n0J>eA0$KNN0h4IM}?M$KO"Mm$9$k(B
	$B$3$H$H$9$k!#(B</p></dd>

<dt id="s8s3">8.3</dt>
	<dd><p>$B$3$N1?MQ5,B'$O(B2002$BG/(B3$B7n(B1$BF|8aA0(B0$B;~(B0$BJ,(B0$BIC(B($BF|K\I8=`;~(B)
	$B$h$j;\9T$9$k!#(B</p></dd>
</dl>

<address>
[<a href="/" title="$B$3$N%5!<%P!<$N<sJG(B">/</a>
<a href="/map" title="$B$3$N%5!<%P!<$N0FFb(B">$BCO?^(B</a>
<a href="/search/" title="$B$3$N%5!<%P!<$N8!:w(B">$B8!:w(B</a>]
[<a href="../">$B4IM}It(B</a> <a href="./" rel="index">Web</a>]
</address>
<div class="update">2002-03-01
<a href="http://validator.w3.org/check/referer" xml:lang="en"><img
        src="http://www.w3.org/Icons/valid-xhtml11" id="w3c-html"
        alt="Valid XHTML 1.1!" style="height: 31px; width: 88px" /></a>
<a href="http://jigsaw.w3.org/css-validator/validator?uri=https://suika.suikawiki.org/admin/web/unei.ja.html" xml:lang="en">
  <img style="width: 88px; height: 31px" id="w3c-css"
       src="http://jigsaw.w3.org/css-validator/images/vcss" 
       alt="Valid CSS!" /></a></div>
<ul class="thisuri">
<li class="url">&lt;URL:<a href="/admin/web/unei">http://suika.fam.cx/admin/web/unei</a>&gt;</li>
<li class="urn">&lt;<a href="urn:x-suika-fam-cx:admin:18">URN:x-suika-fam-cx:admin:18</a>&gt;</li>
</ul>
</body></html>
